<formulario #ctrl URL="via-administracion" titulo="UM / Catalogo" [dato]="dato"></formulario>
<menu-catalogo [modulo]="'Vías de administración'" [icono]="'assets/icono-catalogos.svg'" [url]="'/almacen-articulos/catalogos/vias-administracion'"></menu-catalogo>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%">
    <div class="column is-one-quarter is-hidden-mobile">
        <panel-control-menu-aside></panel-control-menu-aside>
    </div>
    <div class="column" style="padding: 0em 2em 0em 0em;">
        <!-- formulario -->
        <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
            <div style="background: #FFF; overflow: hidden;">
                <section class="hero is-primary">
                    <div class="hero-body">
                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" class="control is-grouped" style="position:absolute; top:8em; right:3em;">
                        </formulario-opciones>
                        <div class="container is-fluid">
                            <h1 class="title">
                                <span *ngIf="!ctrl.cargando" class="icon is-medium"><i class="fa fa-edit"></i></span>
                                <span *ngIf="ctrl.cargando" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span>                                {{ctrl.moduloTitulo}} via de administración
                            </h1>

                        </div>
                    </div>
                </section>
                <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>                    &nbsp;<span>Cargando...</span></span>
                </div>
                <section class="section">



                    <div class="field">
                        <label class="label">Nombre:</label>
                        <p class="control is-expanded  has-icon has-icon-right">
                            <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required')}" placeholder="nombre"
                                formControlName="nombre">
                            <span class="icon is-small" *ngIf="ctrl.dato.get('nombre').hasError('required')">
                                <i class="fa fa-warning"></i>
                            </span>
                            <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required')">Este campo es requerido.</span>
                        </p>
                    </div>

                </section>
            </div>
        </form>
    </div>
</div>