<div class="modal is-active">
  <div class="modal-background" (click)="cerrar()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> <span class="icon"><i class="fa fa-key"></i></span>  Recuperar contraseña</p>
      <button class="delete" (click)="cerrar()"></button>
    </header>
    <section class="modal-card-body ">
      <div class="notification is-danger" *ngIf="mensajeError!=''">
          <button class="delete" (click)="mensajeError=''"></button>
          {{ mensajeError}}
      </div>
      <div class="has-text-centered" *ngIf="!mostrarEnviarEmail&&!mostrarPreguntaSecreta&&!resetPasswordViaToken">
        <p>Por favor elija un método para recuperar su contraseña:</p><br>
        <div class="block">
          <a class="button is-info is-medium" (click)="mostrarEnviarEmail=true">Enviarme un email</a>
          <a class="button  is-medium" (click)="mostrarPreguntaSecreta=true">Pregunta secreta</a>
        </div>
        <br>
      </div>
      <div *ngIf="mostrarEnviarEmail">    
        <div *ngIf="emailEnviado">
            <h5 class="title is-5">Solicitud enviada</h5>
            <p>Hemos enviado un correo electrónico con las instrucciones para reestablecer tu contraseña.</p>            
        </div>
        <div *ngIf="!emailEnviado">
          <p>Por favor introduzca el correo electrónico que está ligado a su cuenta:</p><br>    
          <div class="field">
            <div class="control">
              <input class="input is-primary" type="email" [(ngModel)]="email"  [ngClass]="{'is-disabled': enviandoEmail, 'is-danger': errores.email != null}" placeholder="Correo electrónico">            
            </div>
            <p class="help is-danger" *ngIf="errores.email == 'required'">El correo electrónico es requerido.</p>
            <p class="help is-danger" *ngIf="errores.email == 'email'">El correo electrónico es inválido.</p>        
            <p class="help is-danger" *ngIf="errores.email == 'not-exist'">El correo electrónico no existe.</p>          
          </div>
          <div class="has-text-centered">
            <br>
            <a class="button  is-medium is-primary" [ngClass]="{'is-loading': enviandoEmail}" (click)="enviarEmail()"><span class="icon"><i class="fa fa-send"></i></span> <span>Enviar</span></a>
          </div>
        </div>          
      </div>
      <div *ngIf="mostrarPreguntaSecreta">    
          <div *ngIf="passwordActualizado">
              <h5 class="title is-5">Contraseña actualizada</h5>
              <p>Tu contraseña ha sido actualizada, ahora puedes iniciar sesión.</p>            
          </div>
          <div *ngIf="!passwordActualizado && !preguntaSecretaCargada">
            <p>Por favor introduzca su usuario:</p><br>    
            <div class="field">
              <div class="control">
                <input class="input is-primary" type="text" [(ngModel)]="usuario"  [ngClass]="{'is-disabled': obteniendoPreguntaSecreta, 'is-danger': errores.usuario != null || errores.pregunta != null}" placeholder="Usuario">            
              </div>
              <p class="help is-danger" *ngIf="errores.usuario == 'required'">El usuario es requerido.</p>     
              <p class="help is-danger" *ngIf="errores.usuario == 'not-exist'">El usuario no existe.</p>          
              <p class="help is-danger" *ngIf="errores.pregunta == 'not-exist'">No hay una pregunta configurada para este usuario, contacte un administrador.</p>          
            </div>
            <div class="has-text-centered">
              <br>
              <a class="button  is-medium is-primary" [ngClass]="{'is-loading': obteniendoPreguntaSecreta, 'is-disabled': usuario == ''}" (click)="obtenerPreguntaSecreta()"> <span>Siguiente</span> <span class="icon"><i class="fa fa-arrow-right"></i></span></a>
            </div>
          </div>   
          
          <div *ngIf="!passwordActualizado && preguntaSecretaCargada">
              <p>{{preguntaSecreta}}</p><br>    
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="text" [(ngModel)]="respuesta"  [ngClass]="{'is-disabled': enviandoRespuesta, 'is-danger': errores.respuesta != null }" placeholder="Respuesta">            
                </div>
                <p class="help is-danger" *ngIf="errores.respuesta == 'required'">La respuesta es requerida.</p>     
                <p class="help is-danger" *ngIf="errores.respuesta == 'wrong'">La respuesta es incorrecta.</p>          
                
              </div>
              <div class="has-text-centered">
                <br>
                <a class="button  is-medium is-primary" [ngClass]="{'is-loading': enviandoRespuesta}" (click)="enviarRespuesta()"> <span>Siguiente</span> <span class="icon"><i class="fa fa-arrow-right"></i></span></a>
              </div>
            </div>   
      </div>
      <div *ngIf="resetPasswordViaToken" class="has-text-centered">
          <span class="icon is-large" *ngIf="verificandoToken"><i class="fa fa-refresh fa-spin"></i></span>
          <div *ngIf="passwordActualizado">
              <h5 class="title is-5">Contraseña actualizada</h5>
              <p>Tu contraseña ha sido actualizada, ahora puedes iniciar sesión.</p>            
          </div>
          <div *ngIf="!verificandoToken&&!errorToken&&!passwordActualizado">
              <p>Por favor introduzca la nueva contraseña:</p><br>    
              <div class="field">
                <div class="control">
                  <input class="input is-primary" type="password" [(ngModel)]="passwordNuevo"  [ngClass]="{'is-disabled': enviandoPasswordNuevo, 'is-danger': errores.password_nuevo != null || passwordNuevo!=passwordNuevoConfirmar}" placeholder="Nueva contraseña">            
                </div>
                <p class="help is-danger" *ngIf="errores.password_nuevo == 'required'">La constraseña es requerida.</p>     
                <p class="help is-danger" *ngIf="passwordNuevo!=passwordNuevoConfirmar">Las contraseñas no coinciden.</p>          
              </div>
              <br>
              <div class="field">
                  <div class="control">
                    <input class="input is-primary" type="password" [(ngModel)]="passwordNuevoConfirmar"  [ngClass]="{'is-disabled': enviandoPasswordNuevo, 'is-danger': passwordNuevo!=passwordNuevoConfirmar}" placeholder="Confirmar nueva contraseña">            
                  </div>
                </div>
              <div class="has-text-centered">
                <br>
                <a class="button  is-medium is-primary" [ngClass]="{'is-loading': enviandoPasswordNuevo , 'is-disabled': passwordNuevoConfirmar!= passwordNuevo || passwordNuevo=='' }" (click)="enviarPasswordNuevo()"><span class="icon"><i class="fa fa-key"></i></span> <span>Cambiar contraseña</span></a>
              </div>
          </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <!--<a class="button is-success">Save changes</a>-->
      <a class="button" *ngIf="mostrarEnviarEmail||mostrarPreguntaSecreta" (click)="mostrarEnviarEmail=false;mostrarPreguntaSecreta=false;resetErrores();emailEnviado=false;usuario='';preguntaSecretaCargada=false;"><span class="icon"><i class="fa fa-arrow-left"></i></span> <span>Atrás</span></a>
      <a class="button" (click)="cerrar()">Cerrar</a>
    </footer>
  </div>
</div>