td.causes {
    background-color: #cdff8c;
}

td.no-causes {
    background-color: #ffa838;
}

td.material-curacion {
    background-color: #ffff7c;
}

.farmacia{
    color:#a8c0ff;
}

.sin-surtir{
    color:#dddddd;
}

.surtiendo{
    color:#3273dc;
}

.surtido{
    color:#4aba53;
}

.expirado{
    color:#e8dd14;
}

.cancelado{
    color:red;
}

.descargado
{
	background-color: #00d1b2;
}

.color_tag_descargas
{
	background-color: #FFFFFF;
}