<formulario #ctrl URL="inventario-articulos" titulo="Inventarios / Almacen" [dato]="dato"></formulario>
<menu-almacen-articulos [modulo]="'Inventario de artículos'" [icono]="'assets/icono-entradas.svg'" [url]="'/almacen-articulos/inventarios'"></menu-almacen-articulos>
<div style="height:50px;"></div>
<div class="contenedor columns " style="overflow:auto; padding: 1em;" [style.maxHeight.px]="tamano-50">
    <!--
    <div class="column is-one-quarter is-hidden-mobile">
        <panel-control-menu-aside></panel-control-menu-aside>
    </div>
    -->
    <div class="column" style="padding: 0em 2em 0em 0em;">
        <!-- formulario -->
        <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()" >
            <div style="background: #FFF; overflow: hidden;">
                <section class="hero is-primary">
                    <div class="hero-body">
                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl"  class="control is-grouped" style="position:absolute; top:6em; right:3em;">
                           
                        </formulario-opciones>  
                        

                        <div class="container is-fluid">
                            <h1 class="title">
                                <span *ngIf="!ctrl.cargando" class="icon is-medium"><i class="fa fa-edit"></i></span>
                                <span *ngIf="ctrl.cargando" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span>                                {{ctrl.moduloTitulo}} inventario
                            </h1>
                        </div>
                    </div>
                </section>
                <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>                    &nbsp;<span>Cargando...</span></span>
                </div>
                <section class="section">



                    <!-- cargar los catalogos que se requieran parametro 1 modelo donde se guarda el catalogo, parametro 2 ruta de la api -->
                    <a id="catalogos" (click)=" ctrl.cargarCatalogo('articulos', 'articulos'); "></a>
                    <div class="tabs is-boxed">
                        <ul>
                            <li [ngClass]="{ 'is-active' : tab == 1}">
                                <a (click)="tab=1">
                                    <span class="icon is-small"><i class="fa fa-file"></i></span>
                                    <span>Datos Generles</span>
                                </a>
                            </li>
                            <li [ngClass]="{ 'is-active' : tab == 2}">
                                <a (click)="tab=2">
                                    <span class="icon is-small"><i class="fa fa-list"></i></span>
                                    <span>Datos detallados</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div [ngClass]="{ 'is-hidden': tab != 1}">
                        <div class="field">
                            <label class="label">Articulo:</label>
                            <div class="control is-expanded  has-icon has-icon-right">
                                <div class="select">
                                    <select class="select" formControlName="articulo_id" (change)="seleccionar_articulo(ctrl.articulos)" [ngClass]="{'is-danger': ctrl.dato.get('articulo_id').hasError('required')}">
                                        <optgroup *ngFor="let val of ctrl.articulos | groupBy:'categoria.nombre'" label="{{val.key}}">
                                            <option *ngFor="let item of val.value" value="{{item.id}}" >{{item.nombre}}</option>
                                        </optgroup>
                                    </select>
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('articulo_id').hasError('required')">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('articulo_id').hasError('required')">Este campo es requerido.</span>                                
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Número de inventario:</label>
                            <p class="control is-expanded  has-icon has-icon-right">
                                <input class="input"  type="text" [ngClass]="{'is-danger': ctrl.dato.get('numero_inventario').hasError('required')}" placeholder="Numero de inventario"
                                    formControlName="numero_inventario">
                                <span class="icon is-small" *ngIf="ctrl.dato.get('numero_inventario').hasError('required')">
                                    <i class="fa fa-warning"></i>
                                </span>
                                <span class="help is-danger" *ngIf="ctrl.dato.get('numero_inventario').hasError('required')">Este campo es requerido.</span>
                            </p>
                        </div>

                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Existencia:</label>
                                    <p class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('existencia').hasError('required')}" placeholder="Existencia"
                                            formControlName="existencia">
                                        <span class="icon is-small" *ngIf="ctrl.dato.get('existencia').hasError('required')">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                        <span class="help is-danger" *ngIf="ctrl.dato.get('existencia').hasError('required')">Este campo es requerido.</span>
                                    </p>
                                </div>
                            </div>

                            <div class="column is-6">
                                <br><br>
                                <div class="b-checkbox control is-expanded  has-icon has-icon-right">
                                    <input type="checkbox" id="baja" class="styled" formControlName="baja" [checked]="ctrl.dato.get('baja').value == 1 ? true : false">
                                    <label for="baja">  Esta dado de baja?
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Observaciones:</label>
                            <p class="control is-expanded  has-icon has-icon-right">
                                <textarea class="textarea" type="text" rows="2" placeholder="Observaciones" formControlName="observaciones" [ngClass]="{'is-danger': ctrl.dato.get('observaciones').hasError('required')}"></textarea>
                                <span class="icon is-small" *ngIf="ctrl.dato.get('observaciones').hasError('required')">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                <span class="help is-danger" *ngIf="ctrl.dato.get('observaciones').hasError('required')">Este campo es requerido.</span>
                            </p>
                        </div>
                    </div>
                    <div [ngClass]="{ 'is-hidden': tab != 2}" formArrayName="inventario_metadato">
                        
                        <div class="field" *ngFor="let item of ctrl.dato.controls.inventario_metadato.controls; let i=index" >
                            <div class="control is-expanded  has-icon has-icon-right"  [formGroupName]="i">   
                                <label *ngIf="item.value.tipo != 'boolean'" class="label">{{ item.value.campo }}</label>
                                <!--text  -->
                                <input *ngIf="item.value.tipo == 'text'" class="input" type="text" placeholder="{{item.value.descripcion}}" 
                                    [ngClass]="{'is-danger': ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required')}"
                                    [maxlength]="item.value.longitud" formControlName="valor"> 
                                

                                <!--number  -->
                                <input *ngIf="item.value.tipo == 'number'" class="input" type="number" step="1" placeholder="{{item.value.descripcion}}" 
                                    [ngClass]="{'is-danger': ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required')}"
                                    [maxlength]="item.value.longitud" formControlName="valor"> 
                                

                                <!--boolean  -->
                                <div class="b-checkbox is-info" *ngIf="item.value.tipo == 'boolean'" style="margin-bottom: 15px; margin-top: 15px;">
                                    <input id="valor{{i}}" class="styled" type="checkbox" formControlName="valor">
                                    <label for="valor{{i}}">
                                        {{ item.value.campo }} 
                                    </label>
                                </div>  
                                
                                <!--timestamp  -->
                                <input id="valor{{i}}" *ngIf="item.value.tipo == 'timestamp'" class="input" [(ngModel)]='valor[i]' [ngModelOptions]="{standalone: true}" (ngModelChange)="asignar_fecha(i)" ngui-datetime-picker
                                    [ngClass]="{'is-danger': ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required')}"
                                    placeholder="YYYY-MM-DD HH:MM" />           
                                

                                <!--date  -->
                                <input id="valor{{i}}" *ngIf="item.value.tipo == 'date'" class="input" [(ngModel)]='valor[i]' [ngModelOptions]="{standalone: true}" (ngModelChange)="asignar_fecha(i)"  ngui-datetime-picker
                                    [ngClass]="{'is-danger': ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required')}"
                                    placeholder="YYYY-MM-DD"  date-only="true"/>  

                                <!--time  -->
                                <input id="valor{{i}}" *ngIf="item.value.tipo == 'time'" class="input" [(ngModel)]='valor[i]' [ngModelOptions]="{standalone: true}" (ngModelChange)="asignar_fecha(i)"  ngui-datetime-picker
                                    [ngClass]="{'is-danger': ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required')}"
                                    placeholder="HH:MM" date-format="hh:mm" hour="23" minute='59' time-only="true"/>  

                                <!--file  -->
                                <span *ngIf="item.value.tipo == 'file'">
                                    <input type="file" (change)="ctrl.seleccionarImagenBase64($event, ctrl.dato.controls.inventario_metadato.controls[i].controls.valor)" accept="image/x-png,image/gif,image/jpeg,image/jpg">
                                    <input foto type="hidden" formControlName="valor" >

                                    <div class="block" *ngIf="ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.value != ''">
                                        <a class="button is-primary is-outlined is-fullwidth" [ngClass]="{'is-disabled': tieneid}" (click)="ctrl.abrirModal('verFoto'+i)">
                                            <span class="icon">
                                                <i class="fa fa-eye"> </i> 
                                            </span> 
                                            &nbsp; Ver
                                        </a>
                                    </div>

                                    <div class="modal" id="verFoto{{i}}">
                                        <div class="modal-background"></div>
                                        <div class="modal-content">
                                            <p class="image is-4by3">
                                                <img  [src]="'data:image/jpg;base64,'+ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.value"  />
                                            </p>
                                        </div>
                                        <button type="button" class="modal-close" (click)="ctrl.cancelarModal('verFoto'+i)"></button>
                                    </div>
                                </span>

                                <span style="margin-top: 27px;" class="icon is-small" *ngIf="ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required') && item.value.requerido == 1 ">
                                    <i class="fa fa-warning"></i>
                                </span>
                                <span class="help is-danger" *ngIf="ctrl.dato.controls.inventario_metadato.controls[i].controls.valor.hasError('required') && item.value.requerido == 1">Este campo es requerido.</span>

                            </div>
                        </div>                        
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>