<formulario #ctrl URL="proveedor" titulo="Proveedor / Catalogo" [dato]="dato"></formulario>
<app-menu-catalogo></app-menu-catalogo>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:90%; padding-top: 1em;">
    <div class="column is-one-quarter is-hidden-mobile">
        <panel-control-menu-aside></panel-control-menu-aside>
    </div>
    <div class="column" style="padding: 0em 2em 0em 0em;">
        <!-- formulario -->
        <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
            <div style="background: #FFF; overflow: hidden;">
                <section class="hero is-primary">
                    <div class="hero-body">
                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" class="control is-grouped" style="position:absolute; top:8em; right:3em;">
                        </formulario-opciones>
                        <div class="container is-fluid">
                            <h1 class="title">
                                <span *ngIf="!ctrl.cargando" class="icon is-medium"><i class="fa fa-edit"></i></span>
                                <span *ngIf="ctrl.cargando" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span>                                {{ctrl.moduloTitulo}} proveedor
                            </h1>

                        </div>
                    </div>
                </section>
                <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span>                    &nbsp;<span>Cargando...</span></span>
                </div>
                <section class="section">


                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Nombre:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required')}" placeholder="nombre"
                                        formControlName="nombre">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('nombre').hasError('required')">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">RFC:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('rfc').hasError('required') && ctrl.dato.get('rfc').touched}"
                                        placeholder="rfc" formControlName="rfc">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('rfc').hasError('required') && ctrl.dato.get('rfc').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('rfc').hasError('required') && ctrl.dato.get('rfc').touched">Este campo es requerido.</span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Direccion:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('direccion').hasError('required') && ctrl.dato.get('direccion').touched}"
                                        placeholder="direccion" formControlName="direccion">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('direccion').hasError('required') && ctrl.dato.get('direccion').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('direccion').hasError('required') && ctrl.dato.get('direccion').touched">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Ciudad:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('ciudad').hasError('required') && ctrl.dato.get('ciudad').touched}"
                                        placeholder="ciudad" formControlName="ciudad">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('ciudad').hasError('required') && ctrl.dato.get('ciudad').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('ciudad').hasError('required') && ctrl.dato.get('ciudad').touched">Este campo es requerido.</span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Contacto:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('direccion').hasError('required') && ctrl.dato.get('direccion').touched}"
                                        placeholder="direccion" formControlName="direccion">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('direccion').hasError('required') && ctrl.dato.get('direccion').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('direccion').hasError('required') && ctrl.dato.get('direccion').touched">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Cargo:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('cargo_contacto').hasError('required') && ctrl.dato.get('cargo_contacto').touched}"
                                        placeholder="cargo_contacto" formControlName="cargo_contacto">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('cargo_contacto').hasError('required') && ctrl.dato.get('cargo_contacto').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('cargo_contacto').hasError('required') && ctrl.dato.get('cargo_contacto').touched">Este campo es requerido.</span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Telefono:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('telefono').hasError('required') && ctrl.dato.get('telefono').touched}"
                                        placeholder="telefono" formControlName="telefono">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('telefono').hasError('required') && ctrl.dato.get('telefono').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('telefono').hasError('required') && ctrl.dato.get('telefono').touched">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Celular:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('celular').hasError('required') && ctrl.dato.get('celular').touched}"
                                        placeholder="celular" formControlName="celular">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('celular').hasError('required') && ctrl.dato.get('celular').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('celular').hasError('required') && ctrl.dato.get('celular').touched">Este campo es requerido.</span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Correo:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('email').hasError('required') && ctrl.dato.get('email').touched}"
                                        placeholder="correo" formControlName="email">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('email').hasError('required') && ctrl.dato.get('email').touched">
                                <i class="fa fa-warning"></i>
                            </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('email').hasError('required') && ctrl.dato.get('email').touched">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-6">
                            <br><br>
                            <div class="b-checkbox">
                                <input id="activo" class="styled" [checked]="ctrl.dato.get('activo').value == '1' ? true : false" (change)="ctrl.dato.get('activo').patchValue(ctrl.dato.get('activo').value == '1' ? '0' : '1')"
                                    type="checkbox">
                                <label for="activo">
                                    Es para super usuario
                                </label>
                            </div>

                        </div>
                    </div>

                </section>
            </div>
        </form>
    </div>
</div>