<listar #ctrl URL="entrada-laboratorio?fecha_desde={{fecha_desde}}&fecha_hasta={{fecha_hasta}}&recibe={{recibe}}&status={{status}}" titulo="Entrada  de laboratorio"></listar>
<app-menu-laboratorio [modulo]="'Entradas de laboratorio'" [icono]="'assets/icono-entradas.svg'" [url]="'/laboratorio/entradas-laboratorio'"></app-menu-laboratorio>
<div style="height:40px;"></div>
<div class="contenedor columns " style="height:90%;">
    <div class="column" style="padding:2em;  z-index: initial; height:100%;">
        <div style="background: #FFF;">
            <section class="hero is-hidden-touch" [ngClass]=" {'is-dark': ctrl.busquedaActivada, 'is-primary': !ctrl.busquedaActivada}"
                    style="min-height:200px; height: 25%">
                <div class="hero-body" style="position:relative; height: 90%">
                    <nav class="level">
                        <div class="level-left"></div>
                        <!-- Right side -->
                        <div class="level-right">
                            <p class="level-item"><a class="button is-dark is-medium" routerLink="nuevo" *ngIf="ctrl.busquedaActivada"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span>Nueva entrada</span></a></p>
                            <p class="level-item"><a class="button is-primary is-medium" routerLink="nuevo" *ngIf="!ctrl.busquedaActivada"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span>Nueva entrada</span></a></p>
                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" (click)="ctrl.busquedaActivada=false;searchBox.value=''; ctrl.resultadosBusqueda=[]"><span class="icon "><i class="fa fa-close"></i></span></a></p>
                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" title="Actualizar" (click)="ctrl.listarBusqueda(searchBox.value,1)"><span class="icon "><i class="fa fa-refresh"></i></span></a></p>
                            <p class="level-item"><a class="button  is-primary" *ngIf="!ctrl.busquedaActivada" title="Actualizar" (click)="ctrl.listar(1)"><span class="icon "><i class="fa fa-refresh"></i></span></a></p>

                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" title="PDF" (click)="imprimir()"><span class="icon "><i class="fa fa-file-pdf-o"></i></span></a></p>
                            <p class="level-item"><a class="button  is-primary" *ngIf="!ctrl.busquedaActivada" title="PDF" (click)="imprimir()"><span class="icon "><i class="fa fa-file-pdf-o"></i></span></a></p>

                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" title="Excel" (click)="export_excel()"><span class="icon "><i class="fa fa-file-excel-o"></i></span></a></p>
                            <p class="level-item"><a class="button  is-primary" *ngIf="!ctrl.busquedaActivada" title="Excel" (click)="export_excel()"><span class="icon "><i class="fa fa-file-excel-o"></i></span></a></p>
                            <p class="level-item">&nbsp;</p>
                        </div>
                    </nav>               
                    <div class="container is-fluid">
                        <span></span>
                        <div class="is-hidden-desktop">
                            <h1 class="title" *ngIf="!ctrl.busquedaActivada">
                                <span class="icon is-medium"><i class="fa fa-user"></i></span> Entradas  de laboratorio
                            </h1>
                        </div>
                        <h1 class="title" *ngIf="ctrl.busquedaActivada">
                            <span class="icon is-medium"><i class="fa fa-search"></i></span> Búsqueda
                        </h1>
                        <div class="control is-grouped">
                            <div class="control" style="z-index: 1000;">
                                <div class="field">   
                                    <label class="label">Desde:</label>                         
                                    <input  style="width: 150px; z-index: 1000;" class="input is-medium" [(ngModel)]='fecha_desde' ngui-datetime-picker date-only="true" placeholder="YYYY-MM-DD" />
                                </div>
                            </div>
                            <div class="control is-expanded" style="z-index: 1000;">
                                <div class="field">   
                                    <label class="label">Hasta:</label>                         
                                    <input style="width: 150px; z-index: 1000;" class="input is-medium" [(ngModel)]='fecha_hasta' ngui-datetime-picker date-only="true" placeholder="YYYY-MM-DD" />
                                </div>
                            </div>
                            <div class="control is-expanded">
                                <div class="field">   
                                    <label class="label">Entrega:</label>                         
                                    <input class="input is-medium" type="text" placeholder="Persona que entrega" [(ngModel)]="recibe">
                                </div>
                            </div>
                            <div class="control">
                                <div class="field">  
                                <label class="label">&nbsp;</label>
                                <button class="button is-default is-medium" type="button" [ngClass]="{'is-loading': ctrl.cargando}" (click)="recibe='';fecha_desde=''; fecha_hasta='';" >Limpiar</button>
                                </div>
                            </div>
                            <div class="control">
                                <div class="field">  
                                <label class="label">&nbsp;</label>
                                <button class="button is-info is-medium" type="button" [ngClass]="{'is-loading': ctrl.cargando}" (click)="ctrl.listar(1)" >Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- 25/100% height -->
            <section class="hero is-hidden-desktop" [ngClass]=" {'is-dark': ctrl.busquedaActivada, 'is-primary': !ctrl.busquedaActivada}">
                <div class="hero-body" style="position:relative; height: 90%">
                        <div class="is-hidden-desktop">
                            <h1 class="title" *ngIf="!ctrl.busquedaActivada">
                                <span class="icon is-medium"><i class="fa fa-user"></i></span> Entradas  de laboratorio
                            </h1>
                        </div>
                    <nav class="level">
                        <div class="level-left"></div>
                        <!-- Right side -->
                        <div class="level-right">
                            <p class="level-item"><a class="button is-dark is-medium" routerLink="nuevo" *ngIf="ctrl.busquedaActivada"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span>Nueva entrada</span></a></p>
                            <p class="level-item"><a class="button is-primary is-medium" routerLink="nuevo" *ngIf="!ctrl.busquedaActivada"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span>Nueva entrada</span></a></p>
                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" (click)="ctrl.busquedaActivada=false;searchBox.value=''; ctrl.resultadosBusqueda=[]"><span class="icon "><i class="fa fa-close"></i></span></a></p>
                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" title="Actualizar" (click)="ctrl.listarBusqueda(searchBox.value,1)"><span class="icon "><i class="fa fa-refresh"></i></span></a></p>
                            <p class="level-item"><a class="button  is-primary" *ngIf="!ctrl.busquedaActivada" title="Actualizar" (click)="ctrl.listar(1)"><span class="icon "><i class="fa fa-refresh"></i></span></a></p>

                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" title="PDF" (click)="imprimir()"><span class="icon "><i class="fa fa-file-pdf-o"></i></span></a></p>
                            <p class="level-item"><a class="button  is-primary" *ngIf="!ctrl.busquedaActivada" title="PDF" (click)="imprimir()"><span class="icon "><i class="fa fa-file-pdf-o"></i></span></a></p>

                            <p class="level-item"><a class="button  is-dark" *ngIf="ctrl.busquedaActivada" title="Excel" (click)="export_excel()"><span class="icon "><i class="fa fa-file-excel-o"></i></span></a></p>
                            <p class="level-item"><a class="button  is-primary" *ngIf="!ctrl.busquedaActivada" title="Excel" (click)="export_excel()"><span class="icon "><i class="fa fa-file-excel-o"></i></span></a></p>
                            <p class="level-item">&nbsp;</p>
                        </div>
                    </nav>               
                    <div class="container is-fluid">
                        <span></span>
                        <h1 class="title" *ngIf="ctrl.busquedaActivada">
                            <span class="icon is-medium"><i class="fa fa-search"></i></span> Búsqueda
                        </h1>
                        <div class="control is-grouped">
                            <div class="control" style="z-index: 1000;">
                                <div class="field">   
                                    <label class="label">Desde:</label>                         
                                    <input  style="width: 150px; z-index: 1000;" class="input is-medium" [(ngModel)]='fecha_desde' ngui-datetime-picker date-only="true" placeholder="YYYY-MM-DD" />
                                </div>
                            </div>
                            <div class="control is-expanded" style="z-index: 1000;">
                                <div class="field">   
                                    <label class="label">Hasta:</label>                         
                                    <input style="width: 150px; z-index: 1000;" class="input is-medium" [(ngModel)]='fecha_hasta' ngui-datetime-picker date-only="true" placeholder="YYYY-MM-DD" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Entrega:</label>
                            <div class="control">
                                <input class="input is-medium" type="text" placeholder="Persona que entrega" [(ngModel)]="recibe">
                            </div>
                        </div>
                        <div class="control is-grouped">
                            <div class="control is-expanded">
                                <div class="field">  
                                <label class="label">&nbsp;</label>
                                <button class="button is-expanded is-default is-medium" type="button" [ngClass]="{'is-loading': ctrl.cargando}" (click)="recibe='';fecha_desde=''; fecha_hasta='';" >Limpiar</button>
                                </div>
                            </div>
                            <div class="control">
                                <div class="field">  
                                <label class="label">&nbsp;</label>
                                <button class="button is-info is-medium" type="button" [ngClass]="{'is-loading': ctrl.cargando}" (click)="ctrl.listar(1)" >Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                
            <div class="is-fullwidth has-text-centered" *ngIf="ctrl.cargando" style="height:75%;"> <!-- 75/100% height -->
                <br>
                <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                <br>
                <br>
            </div>
            <div id="exportable"><!-- 75/100% height -->
                <div style="overflow:auto; display:block" [style.maxHeight.px]="ctrl.tamano-350">
                    <div class="is-fullwidth has-text-centered" *ngIf="cargandoPdf">
                        <br>
                        <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Generando PDF...</span></span>
                        <br>
                        <br>
                    </div>
                    <table class="table" *ngIf="!ctrl.cargando && !cargandoPdf">
                        <thead>
                            <tr>
                                <th style=" text-align: center;"><abbr title="Folio">Fecha</abbr></th>
                                <th style=" text-align: center;"><abbr title="Folio">Folio</abbr></th>
                                <th>Insumos</th>
                                <th>Entrega</th>
                                <th>Usuario</th>
                                <th>Estatus</th>
                                <th style=" text-align: center;">Capturado</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!ctrl.busquedaActivada && ctrl.dato">
                            <tr *ngFor="let item of ctrl.dato; let i=index">
                                <th *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align: center;">
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.fecha_movimiento }}</a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}">{{ item.fecha_movimiento }}</a>
                                </th>
                                <th *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align: center;">
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.id }}</a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}">{{ item.id }}</a>
                                </th>
                                <td *ngIf="item.numero_claves && item.numero_insumos && (i+1)<ctrl.dato.length">
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}"> 
                                        <p> Lotes: {{item.numero_claves}}</p> <p> Insumos: {{item.numero_insumos}}</p>
                                    </a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}"> 
                                        <p> Lotes: {{item.numero_claves}}</p> <p> Insumos: {{item.numero_insumos}}</p>
                                    </a>
                                </td>
                                <td *ngIf="!item.numero_claves && !item.numero_insumos && (i+1)<ctrl.dato.length">No disponible</td>
                                <td *ngIf="item.movimiento_metadato && (i+1)<ctrl.dato.length" style="vertical-align: middle;" >
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">
                                        {{ item.movimiento_metadato.persona_recibe }}</a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}">
                                        {{ item.movimiento_metadato.persona_recibe }}</a>
                                </td>
                                <td *ngIf="!item.movimiento_metadato && (i+1)<ctrl.dato.length" style="vertical-align: middle;" >No disponible</td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;">
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.movimiento_usuario.nombre }} {{ item.movimiento_usuario.apellidos }} </a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}">{{ item.movimiento_usuario.nombre }} {{ item.movimiento_usuario.apellidos }} </a>
                                </td>                        
                                <td *ngIf="!item.movimiento_usuario && (i+1)<ctrl.dato.length" style="vertical-align: middle;" >No disponible</td>
                                <td *ngIf="(i+1)<ctrl.dato.length">
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}"><span class="tag is-success is-medium" *ngIf="item.status == 'FI'">Finalizado</span></a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}"><span class="tag is-warning is-medium" *ngIf="item.status == 'BR'">Borrador</span></a>
                                </td>
                                <td *ngIf="!item.status && (i+1)<ctrl.dato.length">
                                    No disponible
                                </td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align: center;">
                                    <a *ngIf="item.status == 'FI'" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.created_at | date:'medium'}} </a>
                                    <a *ngIf="item.status == 'BR'" routerLink="/laboratorio/entradas-laboratorio/editar/{{item.id}}">{{ item.created_at | date:'medium'}} </a>
                                </td>
                            </tr>
                            <tr *ngIf="!ctrl.dato">
                                <td colspan="6" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!ctrl.dato">
                            <tr>
                                <td colspan="6" style="vertical-align: middle; color:#888;">No se encontraron resultados.</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="ctrl.busquedaActivada && ctrl.dato">
                            <tr *ngFor="let item of ctrl.resultadosBusqueda; let i=index">
                                <th style="vertical-align: middle; text-align: center;"><a routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.id }}</a></th>
                                <td style="vertical-align: middle;" *ngIf="item.movimiento_metadato"><a *ngIf="item.movimiento_metadato.servicio.nombre" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.movimiento_metadato.servicio.nombre }}</a></td>
                                <td style="vertical-align: middle;" *ngIf="!item.movimiento_metadato">No disponible</td>
                                <td style="vertical-align: middle;" *ngIf="item.movimiento_metadato">
                                    <a *ngIf="item.movimiento_metadato.turno.nombre" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.movimiento_metadato.turno.nombre }} </a>
                                    <a *ngIf="!item.movimiento_metadato.turno" routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">No disponible </a>
                                </td>
                                <td style="vertical-align: middle;" *ngIf="!item.movimiento_metadato">No disponible</td>
                                <td style="vertical-align: middle;"><a routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.movimiento_usuario.nombre }} {{ item.movimiento_usuario.apellidos }} </a></td>
                                <td style="vertical-align: middle;"><a routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.status }} </a></td>
                                <td style="vertical-align: middle; text-align: center;"><a routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.created_at | date}} </a></td>
                                <td style="vertical-align: middle; text-align: center;"><a routerLink="/laboratorio/entradas-laboratorio/ver/{{item.id}}">{{ item.updated_at | date}} </a></td>
                            </tr>

                            <tr *ngIf="ctrl.resultadosBusqueda.length == 0 && ctrl.busquedaActivada">
                                <td colspan="5" style="vertical-align: middle; color:#888;">No se encontraron resultados.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Paginación para la lista  -->
                <paginacion style="z-index: 1000;" [total]="ctrl.total" [paginasTotales]="ctrl.paginasTotales" [resultadosPorPagina]="ctrl.resultadosPorPagina"
                    [paginaActual]="ctrl.paginaActual" [indicePaginas]="ctrl.indicePaginas" (onSiguiente)="ctrl.paginaSiguiente()"
                    (onAnterior)="ctrl.paginaAnterior()" (onListar)="ctrl.listar($event)" *ngIf="ctrl.total>0 && ctrl.total > ctrl.resultadosPorPagina && !ctrl.busquedaActivada && !cargandoPdf"></paginacion>
               <!-- Paginación para la búsqueda  -->
                <paginacion [total]="ctrl.totalBusqueda" [paginasTotales]="ctrl.paginasTotalesBusqueda" [resultadosPorPagina]="ctrl.resultadosPorPaginaBusqueda"
                    [paginaActual]="ctrl.paginaActualBusqueda" [indicePaginas]="ctrl.indicePaginasBusqueda" (onSiguiente)="ctrl.paginaSiguienteBusqueda(searchBox.value)"
                    (onAnterior)="ctrl.paginaAnteriorBusqueda(searchBox.value)" (onListar)="ctrl.listarBusqueda(searchBox.value,$event)"
                    *ngIf="ctrl.totalBusqueda > 0 && ctrl.totalBusqueda > ctrl.resultadosPorPaginaBusqueda && ctrl.busquedaActivada && !cargandoPdf"></paginacion>
            </div>
        </div>
    </div>
</div>