.item {
    cursor: pointer;
}
.item.seleccionado {
    background: #CCC;
}
.item.seleccionado .icon {
    color:white !important;
}
.item.seleccionado .item-detalle {
    display: inherit;
}
.item .item-detalle {
    display: none;
}

.item.asignado {
    background: #DDD;
    color: #777;
}


tr.filtro td,
tr.filtro th {
    color:#FFF;
    background: #4a4a4a !important;
}

.contenedor-tabla {
    overflow: auto; width:100%; height:99% !important; display:block; position:absolute; left:0; top:0;
}
.contenedor-tabla table { border-radius: 3px; }
@media screen and (max-width: 768px) {
    .contenedor-tabla { position: relative; }

    .tile.notification { padding:0px !important; }
}