<section class="hero is-dark" style="position: fixed; width: 100%;top:0px; z-index:99">
    <div class="hero-head">
        <div class="container is-fluid">
            <nav class="nav is-primary">
                <div class="nav-left">
                    <a class="nav-item is-brand" routerLink="/administrador-proveedores" routerLinkActive="active">
                      <!-- <img src="assets/hub-administrador-proveedores.svg" alt="icono"> -->
                        <span class="icon">
                            <i class="fa fa-folder-open-o"></i>
                        </span>
                        <h1 class="title">&nbsp;Administrador Proveedores</h1>
                    </a>
                </div>

                <div class="nav-center">
                    <span *ngIf="usuario.proveedor_activo" class="nav-item is-small">
                        <span>{{usuario.proveedor_activo.nombre}}</span>
                    </span>
                </div>
                
                <a class="nav-item"  (click)="hub.toggle()">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                </a>

                <a class="nav-item is-hidden-mobile" (click)="perfil.toggle()">
                    
                    <figure class="image" style="width:26px;"><img src="assets/{{ usuario.avatar || 'avatar-unknow' }}.svg" alt="avatar"></figure>
                    &nbsp;
                    <span>{{ usuario.nombre }} {{ usuario.apellidos }}</span>
                </a>
                <a class="nav-item is-hidden-tablet" (click)="perfil.toggle()">
                    
                    <figure class="image" style="width:26px;"><img src="assets/{{ usuario.avatar || 'avatar-unknow' }}.svg" alt="avatar"></figure>
                </a>
            </nav>
        </div>
    </div>
</section>

<app-hub #hub></app-hub>
<app-perfil #perfil></app-perfil>