.top-bar {
    padding: 1em ; 
    font-size: 1.2em; 
    background: #FFF;    
    color: #333;
    position: relative;
}
.contenedor-lista.con-tabs .top-bar {
    padding: 0.5em ; 

    border-radius: 1em;
}
.top-bar.is-primary {
    background: #00d1b2;
    color:#FFF;
}
.top-bar.is-primary h1 { color: #FFF; }
.top-bar.is-danger {
    background: #ff3860;
    color:#FFF;
}
.top-bar.is-dark {
    background: #333;
    color:#FFF
}
.contenedor-lista {
    background: #FFF; border-radius: 1em; overflow: hidden;
    margin:20px;
}

tr.is-dark td,
tr.is-dark th{
    background: #333;
    color:#FFF
}


