<formulario #ctrl URL="mis-turnos" titulo="Receta" [dato]="dato2"></formulario>
<form name="dato2" novalidate [formGroup]="dato2" (ngSubmit)="ctrl.enviar(false)">
<div class="contenedor columns " style="height:85%">
    <a id="actualizar" (click)="ctrl.cargarDatos();"></a>
    <a id="catalogoTurno" (click)="ctrl.cargarCatalogo('tipos_turnos', 'turnos?bid=1', 'initMover'); "></a>
    <!--
        <div *ngIf="!mostrar_pantalla" style="width: 100%; height: 500px; vertical-align: middle; text-align: center;">        
        <a class="button is-warning is-large" style="width: 100%; height: 100%"
        (click)="ctrl.cargarCatalogo('tipos_turnos', 'turnos?bid=1', 'initMover'); mostrar_pantalla=true">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> &nbsp; Cargar turnos
        </a>
    </div>
     -->
    <div class="column" style="padding:2em;">
        <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
            <nav class="level">
                <div class="level-left">
                </div>
                <!-- Right side -->
                <div class="level-right">
                    <p class="level-item">
                        <button class="button is-medium is-success" type="submit">Guardar</button>
                    </p>
                    <p class="level-item">
                        <a class="button is-medium" (click)="ctrl.cargarDatos();"><span class="icon "><i class="fa fa-refresh"></i></span></a>
                    </p>
                    <p class="level-item">&nbsp;</p>
                </div>
            </nav>
            <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                <br>
                <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
            </div> 
            
            <section class="section">
                <!-- formulario -->
                    <div>                 
                        <div class="box" *ngIf="ctrl.tipos_turnos">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <div class="column is-5" style="float:left">
                                            <nav class="panel">
                                                <div class="panel-heading">
                                                    <div class="field">
                                                        <div class="b-checkbox is-info">
                                                            <input id="Movimientos" class="styled" type="checkbox" 
                                                            [checked]="ctrl.todosSeleccionados.izquierda"
                                                            (click)="ctrl.seleccionarTodosMover('izquierda', ctrl.tipos_turnos)">
                                                            <label for="Movimientos">
                                                            Turnos disponibles
                                                        </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="ctrl.cargando" class="has-text-centered" style="overflow: hidden; overflow-x: hidden; height: 450px;">
                                                    <br>
                                                    <br>
                                                    <span class="tag is-primary is-large"><i class="fa fa-refresh fa-spin"></i> &nbsp; Cargando... </span>
                                                </div>
                                                <div *ngIf="!ctrl.cargando" style="overflow: scroll; overflow-x: hidden; height: 450px;">
                                                    <label class="panel-block" *ngFor="let val of ctrl.tipos_turnos; let i=index">          
                                                        <div class="field">
                                                            <div class="b-checkbox">
                                                                <input id="{{val.id}}" class="styled" type="checkbox" 
                                                                [checked]="ctrl.izquierda.indexOf(val) > -1"
                                                                (click)="ctrl.agregarMover('izquierda', ctrl.tipos_turnos, val)">
                                                                <label for="{{val.id}}">
                                                                    {{val.nombre}} 
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </nav>
                                        </div>
                                        <div class="column is-2" style="float:left" >
                                            
                                            <p class="control">
                                                <button class="button is-default" type="button" style="width:100%" 
                                                [ngClass]="{'is-success': ctrl.izquierda.length > 0}" 
                                                [disabled]="ctrl.izquierda.length <= 0"
                                                (click)="ctrl.iniciarMover('izquierda', ctrl.dato.controls.clues_turnos.controls, ctrl.tipos_turnos, true)">></button>
                                            </p>
                                            <p class="control">
                                                <button class="button is-default" type="button" style="width:100%" 
                                                [ngClass]="{'is-success': ctrl.derecha.length > 0}" 
                                                [disabled]="ctrl.derecha.length <= 0"
                                                (click)="ctrl.iniciarMover('derecha', ctrl.tipos_turnos, ctrl.dato.controls.clues_turnos.controls, false)"><</button>
                                            </p>
                                            
                                        </div>                        
                                        <div class="column is-5" style="float:left" >
                                            <nav class="panel" formGroupName="clues_turnos">
                                                <div class="panel-heading">
                                                    <div class="field">
                                                        <div class="b-checkbox is-info">
                                                            <input id="MisServicios" class="styled" type="checkbox" 
                                                            [checked]="ctrl.todosSeleccionados.derecha"
                                                            (click)="ctrl.seleccionarTodosMover('derecha', ctrl.dato.controls.clues_turnos.controls)">
                                                            <label for="MisServicios">
                                                            Mis turnos
                                                        </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="ctrl.cargando" class="has-text-centered" style="overflow: hidden; overflow-x: hidden; height: 450px;">
                                                    <br>
                                                    <br>
                                                    <span class="tag is-primary is-large"><i class="fa fa-refresh fa-spin"></i> &nbsp; Cargando... </span>
                                                </div>
                                                <div *ngIf="!ctrl.cargando" style="overflow: scroll; overflow-x: hidden; height: 450px;">
                                                    <label class="panel-block" *ngFor="let item of ctrl.dato.controls.clues_turnos.controls; let i2=index">          
                                                        <div class="field" [formGroupName]="i2">
                                                            <div class="b-checkbox">
                                                                <input id="{{item.value.id}}" class="styled" type="checkbox"
                                                                [checked]="ctrl.derecha.indexOf(item) > -1"
                                                                (click)="ctrl.agregarMover('derecha', ctrl.dato.controls.clues_turnos.controls, item)">
                                                                <label for="{{item.value.id}}">
                                                                    {{item.value.nombre}} 
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <a *ngIf="ctrl.tipos_turnos" (click)="ctrl.initMover(ctrl.dato.controls.clues_turnos.controls, ctrl.tipos_turnos);" id="initMover"></a>
            </section>
        </div>
    </div>
</div>          
</form>
