<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<!-- <formulario #ctrl URL="entrada-almacen" titulo="DAM / Apertura pedido" [dato]="dato"></formulario> -->

<!-- Menu principal  menutitulo="titulo del modulo en el que estamos con el nombre como se encuentra en enviroment" menuactual="nombre del hub donde estamos como se especifico en el routing"-->
<div style="height: 50px">
    <app-menu-dam [modulo]="'Pedido UM'" [icono]="'assets/hub-estandar.svg'" [url]="'/pedidos/UM'" (ayudaModal)="abrirModal('ayuda')"></app-menu-dam>
</div>

<div class="contenedor columns " style="padding: 1em;">
    <div class="column is-one-quarter">
        <section class="hero is-primary" style="border-top-left-radius: 1em; border-top-right-radius: 1em;">
            <h1 class="title" style="margin:0.5em; ">
                <span class="icon is-medium">
                    <i class="fa fa-file-text"></i>
                </span> Datos generales
            </h1>
        </section>
        <div style="background: #FFF; padding: 1em; overflow: scroll; overflow-x: hidden;"> 
                <!-- <i class="fa fa-file"></i>
                    Datos del movimiento -->
                    <div class="columns" style="font-size: 22px; text-align: right">
                        <strong class="column">Presupuesto Total: </strong>
                        <strong class="column">{{ ( form_dato.metadato_compra_consolidada?.presupuesto_compra | currency:'' ) }}  </strong>
                    </div>
                    <div class="columns" style="font-size: 18px; text-align: right">
                        <label class="column">Presupuesto Total utilizado : </label>
                        <strong class="column">
                            <span [ngStyle]="{'color': total_precio > this.form_dato.metadato_compra_consolidada?.presupuesto_compra ? 'red' : ''}">
                                {{ ( total_precio | currency:'' ) }}
                            </span>
                        </strong>
                    </div>
                    <span class="help is-danger" *ngIf="error_formulario">El presupuesto total no puede ser $0.00.</span>
                    <!-- <div>
                            <div class="field">
                                <label class="label">Presupuesto Causes:</label>
                                <p class="control is-expanded  has-icon has-icon-right" style="text-align: right;" *ngIf="form_dato.metadato_compra_consolidada != null" >
                                    {{ this.form_dato.metadato_compra_consolidada.presupuesto_causes ? (this.form_dato.metadato_compra_consolidada.presupuesto_causes | currency:'') : ( 0 | currency:'')}}
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Presupuesto No Causes:</label>
                                <p class="control is-expanded  has-icon has-icon-right" style="text-align: right;" *ngIf="form_dato.metadato_compra_consolidada != null">
                                        {{ this.form_dato.metadato_compra_consolidada.presupuesto_no_causes ? (this.form_dato.metadato_compra_consolidada.presupuesto_no_causes | currency:'') : ( 0 | currency:'')}}
                                </p>
                            </div>
                    </div> -->
        </div>
        <div style="background: #FFF; padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-420"> 
            <div>
                <div class="field">
                    <label class="label">Fecha límite de captura:</label>
                    <p class="control is-expanded  has-icon has-icon-right">
                        <input class="input"  [(ngModel)]='form_dato.metadato_compra_consolidada.fecha_limite_captura' ngui-datetime-picker 
                            [min-date]="capturaDate" date-only="true"
                            [ngClass]="{'is-disabled': form_dato.estatus === 'FI' || form_dato.estatus === 'BR', 'is-danger': form_dato.fecha_inicio == ''}" name="fecha_inicio"
                            placeholder="YYYY-MM-DD" readonly/>

                        <span class="icon is-small">
                            <i class="fa fa-warning" *ngIf="form_dato.metadato_compra_consolidada.fecha_limite_captura == ''"></i>
                        </span>
                        <span class="help is-danger" *ngIf="form_dato.metadato_compra_consolidada.fecha_limite_captura == ''">Este campo es requerido.</span>
                    </p>
                </div>
                <div class="control" >
                    <div class="field">
                        <label class="label">Programa:</label>
                    </div><!-- SI carga los programas -->
                    <div class="control is-grouped">
                        <span *ngIf="cargando || cargandoCatalogo" class="tag is-primary is-medium">Cargando programas. 
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                        </span>
                        <div  *ngIf="!cargando && !cargandoCatalogo" class="select control is-expanded  has-icon has-icon-right">
                            <select class="select is-medium" name="seleccionar_programa" id="seleccionar_programa" required
                                [(ngModel)]='form_dato.metadato_compra_consolidada.programa_id'
                                [ngClass]="{'is-disabled': tieneid}">
                                <!-- && form_dato.estatus == 'FI' -->
                                <option value="">Seleccione un programa</option>
                                <option *ngFor="let item of lista_programas" value="{{item.id}}">{{ item.nombre }}</option>
                            </select>
                            <span class="icon is-small" *ngIf="form_dato.metadato_compra_consolidada.programa_id == 0 && error_formulario">
                                <i class="fa fa-warning"></i>
                            </span>
                            <span class="help is-danger" *ngIf="form_dato.metadato_compra_consolidada.programa_id == 0 && error_formulario">Este campo es requerido.</span>
                            <span class="help is-danger" *ngIf="lista_programas.length == 0"> No se cargaron programas, contacte al administrador.</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field">
                    <label class="label">Observaciones:</label>
                    <p class="control is-expanded  has-icon has-icon-right">
                        <textarea class="textarea" type="text"
                            [ngClass]="{'is-disabled': form_dato.estatus === 'FI'}"
                            placeholder="Observaciones" [(ngModel)]='form_dato.observaciones' ></textarea>
                    </p>
                </div>                
            </div>
        </div>
    </div>
    <div class="column" style="padding:1em;">
            <!-- inicio formulario -->
            <div style="background: #FFF; border-radius: 1em;">
                <div style="border-radius: 1em;">
                    <section class="hero is-primary" style="border-top-left-radius: 1em; border-top-right-radius: 1em;">
                        <div class="title" style="margin:0.5em;">
                            <!-- Opciones  -->
                            <nav class="level" style="padding-left: 1em;">
                                <!-- Left side -->
                                <div class="level-left ">
                                    <div class="level-item">
                                        <p class="title">
                                            <span *ngIf="!cargando || !cargando" class="icon is-medium">
                                                <i class="fa fa-list-alt"></i>
                                            </span>
                                            <span *ngIf="cargando || cargando" class="icon is-medium">
                                                <i class="fa fa-refresh fa-spin"></i>
                                            </span>
                                            Presupuestos
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="level-right">
                                    <button class="button is-primary tooltip"  routerLink="/pedidos/UM">
                                        <span class="icon fa-2x">
                                            <i class="fa fa-arrow-left"> </i>
                                        </span>
                                        <span class="tooltiptext">Regresar</span>
                                    </button>

                                    <button class="button is-primary tooltip" (click)=" cargarCatalogo('programa', 'lista_programas', 'estatus'); cargarDatos(form_dato.id);" id='cargar_datos_actualizar'>
                                        <span class="icon ">
                                            <i class="fa fa-refresh fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext">Actualizar</span>
                                    </button>
                                    <button class="button is-primary" type="button" [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'FI'}" (click)="enviar();">
                                        <span class="icon">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        </span> &nbsp; Guardar avance
                                        <span id="borrador" (click)="enviar();"></span>
                                    </button>
    
                                    <button class="button is-primary tooltip" (click)="finalizar_pedido()" type="submit"
                                            [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'FI'}" [disabled]="form_dato.invalid">
                                        <span class="icon" style="color: blue">
                                            <i class="fa fa-unlock-alt fa-2x"> </i>
                                        </span>
                                        <span class="tooltiptext" style="color: blue">Finalizar</span>
                                    </button>
                                    <button class="button is-primary tooltip"  (click)="imprimir()" title="PDF" type="submit"
                                        [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'BR'}"
                                        [disabled]="form_dato.invalid">                                        
                                        <span class="icon">
                                            <i class="fa fa-file-pdf-o fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext">Imprimir</span>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </section>
                    <div>
                            <div style="padding: 1em;padding-right: 3.5em;padding-left: 2em;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Presupuesto</th>
                                            <th style="text-align: right; width: 33%">CAUSES</th>
                                            <th style="text-align: right; width: 33%">NO CAUSES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <th>Autorizado</th>
                                            <th style="text-align: right; width: 33%"> {{(form_dato.metadato_compra_consolidada.presupuesto_causes | currency:'' ) }} </th>
                                            <th style="text-align: right; width: 33%"> {{(form_dato.metadato_compra_consolidada.presupuesto_no_causes | currency:'' )}}</th>
                                        </tr>
                                        <tr>
                                            <th>Utilizado</th>
                                            <td style="text-align: right; width: 33%">
                                                <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_causes_asignado > form_dato.metadato_compra_consolidada.presupuesto_causes ? 'red' : ''}">
                                                    {{(form_dato.metadato_compra_consolidada.presupuesto_causes_asignado | currency:'' )}}
                                                </span>
                                            </td>
                                            <td style="text-align: right; width: 33%"> 
                                                <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_no_causes_asignado > form_dato.metadato_compra_consolidada.presupuesto_no_causes ? 'red' : ''}">
                                                    {{(form_dato.metadato_compra_consolidada.presupuesto_no_causes_asignado | currency:'' )}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Disponible</th>
                                            <td style="text-align: right; width: 33%"> <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_causes_disponible < 0 ? 'red' : ''}">{{(form_dato.metadato_compra_consolidada.presupuesto_causes_disponible | currency:'' )}} </span></td>
                                            <td style="text-align: right; width: 33%">
                                                <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_no_causes_disponible < 0 ? 'red' : ''}">
                                                    {{(form_dato.metadato_compra_consolidada.presupuesto_no_causes_disponible | currency:'' )}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                
                            <!-- Botón para agregar programas  -->
                            <article class="tile is-primary is-child notification has-text-centered" style="padding: 0; padding-left: 1em;">
                                <nav class="level" style="padding-left: 1em;">
                                    <!-- Left side -->
                                    <div class="level-left" style="margin: 0.5em">
                                        <div class="level-item">
                                            <p class="title">
                                                <span *ngIf="!cargando || !cargando" class="icon is-medium">
                                                    <i class="fa fa-shopping-basket"></i>
                                                </span>
                                                <span *ngIf="cargando || cargando" class="icon is-medium">
                                                    <i class="fa fa-refresh fa-spin"></i>
                                                </span>
                                                Insumos
                                            </p>
                                        </div>
                                    </div>
                                    <div class="level-right" style="padding-right: 4em;">
                                            <div class="field" style="width: 50em">
                                                <div class="control">
                                                    <input ngui-auto-complete
                                                        id="buscarInsumo"
                                                        name="buscarInsumo"
                                                        #buscarInsumo
                                                        autofocus="false"
                                                        [source]="insumos_term"
                                                        [list-formatter]="autocompleListFormatInsumo"
                                                        display-property-name="descripcion"
                                                        path-to-data=""
                                                        loading-text="Cargando..."
                                                        no-match-found-text="No hay resultados."
                                                        (valueChanged)="select_insumo_autocomplete($event)"
                                                        min-chars="1"
                                                        class="input"
                                                        value-property-name="insumo_datos.insumo_medico_clave"
                                                        [ngClass]="{'is-hidden': tieneid && form_dato.estatus == 'FI'}"
                                                        type="text" placeholder="Ingrese clave o descripcion del insumo">
                                                </div>
                                            </div>
                                        <!-- <div class="level-item" [ngClass]="{'is-hidden': form_dato.estatus == 'FI'}">
                                            <a  class="button is-primary"
                                                [ngClass]="{'is-hidden': form_dato.estatus === 'FI' }"
                                                title="Agregar más insumos de esta clave" (click)="agregarInsumo()"> 
                                                <span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>&nbsp; Agregar insumos 
                                            </a>
                                        </div> -->
                                    </div>
                                </nav>
                            </article>
                            <div  style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-400">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style=" text-align: center;"><abbr title="#">NP</abbr></th>
                                            <th style=" text-align: center;">Clave</th>
                                            <th>Descripción</th>
                                            <th style=" text-align: center;">Precio</th>
                                            <th style=" text-align: center;">Cantidad</th>
                                            <th style=" text-align: center;">Importe</th>
                                            <th style=" text-align: center;" [ngClass]="{'is-hidden': form_dato.estatus === 'FI' }">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let insumo of form_dato.insumos; let i_insumos = index">
                                            <th style=" text-align: center;">{{i_insumos + 1}} </th>
                                            <th style=" text-align: center;"><span>{{insumo.insumo_medico_clave}}&nbsp;</span></th>
                                            <th>
                                                <span>{{insumo.info_insumo.descripcion}}&nbsp;</span>
                                                <label class="tag is-success" *ngIf="insumo.info_insumo.es_causes == true"><strong>Cause </strong></label>
                                                <label class="tag" *ngIf="insumo.info_insumo.es_causes == 0" style="background: #B8FB7E; border-color: #B8FB7E; color: rgba(0,0,0,0.7);" ><strong>No Cause </strong> </label>
                                                <span *ngIf="insumo.info_insumo.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                                            </th>
                                            <th style="text-align: right;">
                                                {{insumo.precio_unitario | currency:''}}
                                            </th>
                                            <th style=" text-align: right;">
                                                <input class="input is-small" [(ngModel)]="insumo.cantidad_solicitada" style="text-align: right" [ngModelOptions]="{standalone: true}"
                                                    [textMask]="{mask:numberMask}"
                                                    (keypress)="quitar_punto($event);"
                                                    (keyup)="cambio_cantidad_stock_key($event, form_dato.insumos[i_insumos], i_insumos)"
                                                    (blur)="cambio_cantidad_stock_key($event, form_dato.insumos[i_insumos], i_insumos)"
                                                    (change)="cambio_cantidad_stock_key($event, form_dato.insumos[i_insumos], i_insumos)"                                                    
                                                    [ngClass]="{'is-danger': form_dato.insumos[i_insumos].cantidad_solicitada == '' || form_dato.insumos[i_insumos].cantidad_solicitada == null || form_dato.insumos[i_insumos].cantidad_solicitada == 0, 'is-disabled': form_dato.estatus === 'FI'}">
                                                    <!-- 
                                                        (keyup)="cambio_cantidad_stock_key($event, form_dato.insumos[i_insumos], i_insumos)"
                                                    (blur)="cambio_cantidad_stock_key($event, form_dato.insumos[i_insumos], i_insumos)"
                                                    (change)="cambio_cantidad_stock_key($event, form_dato.insumos[i_insumos], i_insumos)"
                                                        -->
                                            </th>
                                            <th style=" text-align: right;">
                                                {{insumo.monto_solicitado | currency:''}}
                                            </th>
                                            <th [ngClass]="{'is-hidden': form_dato.estatus === 'FI' }">
                                                <p class="control" [ngClass]="{'is-hidden': form_dato.estatus === 'FI' }">    
                                                    <span style="float:right;" >
                                                        <a  class="button is-small" style="color: red; padding-left: 12px;" title="Quitar este elemento de la lista" (click)="abrirModal('borrarInsumo', i_insumos)">
                                                            <span class="icon is-small"><i class="fa fa-trash-o"></i></span>
                                                        </a>
                                                    </span>
                                                </p>
                                            </th>
                                        </tr>
                                        <tr *ngIf="form_dato.insumos.length == 0">
                                            <td colspan="6" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>                    
                </div>
            </div>
            <simple-notifications [options]="options"></simple-notifications>
    </div>
</div>

<!-- ***************************************** INICIO - MODALES ***************************************** -->


<div [ngClass]="{'is-active': cargarPedido}" class="modal" id="cargandoInventario" >
    <div class="modal-background"></div>
    <div class="modal-content">
        <p style="color: rgb(255, 255, 255); text-align: center;">
            <span><i class="fa fa-spinner fa-pulse fa-10x"></i></span>
            <br>
            <span><h1>Cargando pedido. <strong style="color: #FFF">Espere un momento.</strong> </h1></span>
        </p>
    </div>
</div>

<div class="modal" id="finalizarPedidoUM">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
            <button class="delete" (click)="cancelarModal('finalizarPedidoUM')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de finalizar el pedido de Unidad Médica?</h1>
                <p>Ya no se podrá realizar cambios</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success" (click)="finalizar(); cancelarModal('finalizarPedidoUM')">Continuar</a>
            <a class="button" (click)="cancelarModal('finalizarPedidoUM')">Cancelar</a>
        </footer>
    </div>
</div>

<div class="modal" id="borrarInsumo">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
            <button class="delete" (click)="cancelarModal('borrarInsumo')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de eliminar el insumo?</h1>
                <p>Se borrarán todos los lotes del insumo que se hayan agregado.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success" (click)="quitar_form_array(form_dato.insumos, index_borrar); cancelarModal('borrarInsumo');">Continuar</a>
            <a class="button" (click)="cancelarModal('borrarInsumo')">Cancelar</a>
        </footer>
    </div>
</div>


<div class="modal" id="detalleCLUES">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80%">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> CLUES CSSSA017370 - ALMACÉN JURISDICCIONAL (PICHUCALCO)</p>
            <button class="delete" (click)="cancelarModal('detalleCLUES')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de eliminar el lote?</h1>
                <p>Se borrarán todos el lote seleccionado.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success">Continuar</a>
            <a class="button" (click)="cancelarModal('detalleCLUES')">Cancelar</a>
        </footer>
    </div>
</div>

<!-- 
    /***************************************************MODAL AYUDA***********************************************************************/
 -->

 <div class="modal" id="ayuda">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80%">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Ayuda</p>
            <button class="delete" (click)="cancelarModal('ayuda')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <div class="columns">
                    <div class="column is-3"> 
                        <div class="control">
                            <nav class="panel">
                                <div style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-230">
                                    <a class="panel-block is-active" [routerLink]="[enlaceAyuda]" fragment="salida-de-insumos">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>
                                        Salida de insumos
                                    </a>
                                    <a class="panel-block is-active" fragment="lista-de-salidas-estandar-de-medicamentos"
                                        [routerLink]="[enlaceAyuda]">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>
                                        Lista de salidas estandar de medicamentos
                                    </a>
                                    <a class="panel-block is-active" [routerLink]="[enlaceAyuda]" fragment="nueva-salida-formulario-3">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>Nueva salida: Formulario </a>
                                    <a class="panel-block is-active" [routerLink]="[enlaceAyuda]" fragment="nueva-salida-busqueda-3">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>Nueva salida: Búsqueda </a>
                                    <a class="panel-block is-active" [routerLink]="[enlaceAyuda]" fragment="nueva-salida-detalle-de-insumos-3">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>Nueva salida: Detalle de insumos</a>
                                    <a class="panel-block is-active" [routerLink]="[enlaceAyuda]" fragment="nueva-salida-guardar-3">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>Nueva salida: Guardar</a>
                                    <a class="panel-block is-active" [routerLink]="[enlaceAyuda]" fragment="ver-salida-de-medicamentos-2">
                                        <span class="panel-icon">
                                            <i class="fa fa-question-circle"></i>
                                        </span>Ver salida de medicamentos</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content" style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-230"> 
                        
                        <div class="row">
                            <div class="span9">
                                <h1 class="title" id="salida-de-insumos"> Salida de insumos</h1>
                                <h2 class="subtitle" id="lista-de-salidas-estandar-de-medicamentos">Lista de salidas estandar de medicamentos</h2>
                                <p>Vista donde se muestra el listado de las salidas estandar de medicamentos que se han hecho en el almacén. En esta vista se pueden filtrar la lista por periodo de tiempo, turno y persona que entregó los medicamentos.</p>
                                <div class="figure" id="figure-16-1">
                                    <img [src]="'assets/manual/almacen-estandar/salidas-estandar/salida_medicamentos_estandar.svg'" alt="" />
                                </div>
                                <ol>
                                    <li><strong>Nueva salida:</strong> Dar click al botón para crear una nueva salida de medicamentos.</li>
                                    <li><strong>(2) Actualizar:</strong> Botón para recargar el listado de la página.</li>
                                    <li><strong>(3) PDF:</strong> Al dar clic se genera un archivo en formato PDF con la lista completa de salidas de medicamentos del almacén.</li>
                                    <li><strong>(4) Excel:</strong> Al dar clic se genera un archivo en formato Excel con la lista completa de salidas de medicamentos del almacén.</li>
                                    <li><strong>Desde:</strong> En este campo se ingresa la fecha inicial del periodo a consultar.</li>
                                    <li><strong>Hasta:</strong> En este campo se ingresa la fecha final del periodo a consultar.</li>
                                    <li><strong>Turno:</strong> Se elige entre los turnos de la lista para filtrar las salidas por turno.</li>
                                    <li><strong>Recibe:</strong> Se ingresa el nombre de la persona que recibe los medicamentos.</li>
                                    <li><strong>(9) Limpiar:</strong> Al dar clic al botón se limpian los filtros de la lista.</li>
                                    <li><strong>(10) Filtrar:</strong> Al dar clic al botón se muestra la lista con los filtros aplicados.</li>
                                    <li><strong>Datos generales:</strong> Se muestran datos generales de las salidas de medicamentos como la fecha de la operación, el folio, entre otros; para tener información a grandes rasgos de la salida. Si el usuario requiere de información más detallada, debe dar clic en alguno de los datos mostrados y abrirá una ventana con los datos específicos de la salida estándar de medicamentos.</li>
                                </ol>   
                                <hr>
                        
                                <h2 class="subtitle" id="nueva-salida-formulario-3">Nueva salida: Formulario</h2>
                        
                                <p>Vista del formulario para crear un nuevo almacén.</p>
                        
                                <div class="figure" id="figure-16-2">
                                    <img [src]="'assets/manual/almacen-estandar/salidas-estandar/nueva_salida_estandar.svg'" alt="" />
                                
                                </div>
                                
                                
                                <p>Los campos y opciones contenidos en el formulario se describen a continuación:</p>
                        
                                    <ol>
                                        <li><strong>Subtotal, IVA y TOTAL:</strong> Contiene la cantidad de dinero que cuestan los medicamentos a los que se les dará salida, se desglosa en un Subtotal sin iva, el IVA de los insumos correspondientes y se suman para generar el TOTAL.</li>
                                        <li><strong>Fecha del movimiento:</strong> Fecha en la que se realiza la operación.</li>
                                        <li><strong>Programa:</strong> Se selecciona el <em>Programa</em> al que corresponden los insumos de la salida. Esta opción es opcional.</li>
                                        <li><strong>Turno:</strong> Se selecciona el turno en el que se hace la salida de medicamentos.</li>
                                        <li><strong>Recibe:</strong> Debe capturarse el nombre de la persona que recibe el medicamento.</li>
                                        <li><strong>Observaciones:</strong> Si hay alguna observación de la salida de medicamentos, debe capturarse en este campo.</li>
                                        <li><strong>(7) Regresar:</strong> Al dar clic al botón nos regresa a la lista de salidas de medicamentos.</li>
                                        <li><strong>(8) Guardar:</strong> Al dar clic en la opción se guarda el avance de la captura y no se puede modificar posteriormente. El botón se activa cuando se han llenado los campos requeridos.</li>
                                        <li><strong>(9) Actualizar:</strong> Botón para recargar la página.</li>
                                        <li><strong>Búsqueda:</strong> En este campo debe ingresar la clave o nombre del medicamento para buscarlo en el catálogo. Una vez ingresado el nombre o clave del insumo médico puede usar el botón buscar para activar la búsqueda. También puede usar la tecla <em>Enter</em> para activar la búsqueda.</li>
                                    </ol>
                        
                                    <h2 class="subtitle" id="nueva-salida-busqueda-3">Nueva salida: Búsqueda</h2>
                                    
                                    <p>Parte del formulario donde se buscan los insumos que se van a agregar a la salida.</p>
                                    
                                    <div class="figure" id="figure-16-3">
                                        <img [src]="'assets/manual/almacen-estandar/salidas-estandar/nueva_salida_estandar_busqueda.svg'" alt="" />
                                    
                                    </div>
                        
                        
                                    <ol>
                                        <li><strong>Resultados:</strong> Se muestran los resultados que coinciden con la búsqueda.</li>
                                        <li><strong>(2) Buscar:</strong> Una vez ingresado el nombre o clave del insumo médico puede usar el botón buscar para activar la búsqueda. También puede usar la tecla <em>Enter</em> para activar la búsqueda.</li>
                                        <li><strong>(3) Borrar:</strong> Al dar clic al botón, borramos la búsqueda y sus resultados.</li>
                                    </ol>
                        
                                    <h2 class="subtitle" id="nueva-salida-detalle-de-insumos-3">Nueva salida: Detalle de insumos</h2>
                                    
                                    <p>Parte del formulario donde se asignan los tipos de movimientos que podrá realizar el almacén.</p>
                                    
                                    <div class="figure" id="figure-16-4">
                                        <img [src]="'assets/manual/almacen-estandar/salidas-estandar/nueva_salida_estandar_detalle.svg'" alt="" />
                                    </div>
                        
                        
                                    <p>Deben capturarse los datos del insumo médico que se agrega a la salida.</p>
                                    
                                    <ol>
                                        <li><strong>Tipo:</strong> Debe elegir el tipo de salida del medicamento, por unidosis o normal (caja).</li>
                                        <li><strong>Cantidad solicitada:</strong> En este campo se ingresa la cantidad total solicitada del insumo médico.</li>
                                        <li><strong>Datos de insumo:</strong> Se muestran datos como el lote, fecha de caducidad, código de barras, programa al que pertenece y existencia; para identificar el insumo médico que se va a entregar en la salida.</li>
                                        <li><strong>Cantidad:</strong> En este campo se ingresa el número de insumos médicos con el mismo lote, fecha de caducidad y código de barras que saldrá del almacén.</li>
                                        <li><strong>Agregar nuevo lote:</strong> Dar clic cuando se va a entregar un medicamento que aún no está capturado. Muestra un pequeño formulario con los campos que deben capturarse.</li>
                                        <li><strong>Aceptar:</strong> Si la captura del insumo médico se ha completado debe dar clic aquí.</li>
                                        <li><strong>Cancelar:</strong> Si no desea guardar la captura de este insumo médico ddebe dar clic aquí.</li>
                                    </ol>
                                    
                                    <h2 class="subtitle" id="nueva-salida-guardar-3">Nueva salida: Guardar</h2>
                                    
                                    <div class="figure" id="figure-16-5">
                                        <img [src]="'assets/manual/almacen-estandar/salidas-estandar/nueva_salida_estandar_guardar.svg'" alt="" />
                                    </div>
                        
                                    <ol>
                                        <li><strong>Guardar:</strong> Al dar clic en la opción se guarda la salida y no se puede editar posteriormente.</li>
                                    </ol>
                                    
                                    <p>El usuario debe confirmar que quiere finalizar la salida debido a la restricción de los cambios posteriores.</p>
                                    
                                    <div class="figure" id="figure-16-6">
                                        <img [src]="'assets/manual/almacen-estandar/salidas-estandar/nueva_salida_estandar_confirm.svg'" alt="" />
                                    </div>
                        
                                    <ol>
                                        <li><strong>Continuar:</strong> Si el usuario está seguro de finalizar la salida, debe dar clic en el botón continuar.</li>
                                        <li><strong>Cancelar:</strong> Dar clic sobre el botón <em>Cancelar</em>  si el usuario no está seguro de haber concluído con la salida de medicamentos.</li>
                                    </ol>
                                    
                                    <h2 class="subtitle" id="ver-salida-de-medicamentos-2">Ver salida de medicamentos</h2>
                                    
                                    <p>Cuando una salida de medicamentos ha sido finalizada se pueden consultar los detalles de la misma</p>
                                    
                                    <div class="figure" id="figure-16-7">
                                        <img [src]="'assets/manual/almacen-estandar/salidas-estandar/ver_salida_estandar.svg'" alt="" />
                                    
                                    </div>
                                    <ol>
                                        <li><strong>(1) Folio:</strong> Se muestra el Folio de la salida correspondiente.</li>
                                        <li><strong>(2) Regresar:</strong> Al dar clic al botón nos regresa a la lista de salidas de medicamentos.</li>
                                        <li><strong>(3) Nueva salida:</strong> Dar click al botón para crear una nueva salida de medicamentos.</li>
                                        <li><strong>(4) Imprimir:</strong> Al dar clic a este botón se genera un archivo en formato PDF de la salida que puede imprimir o guardar en la PC.</li>
                                        <li><strong>(5) Actualizar:</strong> Botón para recargar la página.</li>
                                        <li><strong>(6) + :</strong> De clic en el botón para ver detalle del insumo.</li>
                                        <li><strong>(7) Lista de insumos:</strong> Se muestran los insumos médicos capturados en la salida estándar de medicamentos.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <!-- <a class="button is-success" (click)="quitar_form_array(form_dato.insumos, index_borrar); cancelarModal('ayuda');">Continuar</a> -->
            <a class="button" (click)="cancelarModal('ayuda')">Cancelar</a>
        </footer>
    </div>
</div>