<menu-farmacia [modulo]="'Pedidos jurisdiccionales'" [icono]="'assets/icono-pedidos-jurisdiccionales.svg'" [url]="'/almacen/pedidos-jurisdiccionales'"></menu-farmacia>

<div style="position:relative; padding-top:70px; margin-left: 1.5%; display:block; width:97%; height:100% !important;" *ngIf="pedido">    
  <div class="tile is-ancestor is-vertical" style="height:100% !important; max-height:100% !important;">
    <div class="tile">
      <div class="tile is-4 is-parent is-vertical ">
        <div class="tile is-child">
            <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
                <section class="hero is-primary" >
                <h1 class="title" style="margin:0.5em;" >
                    <span class="icon is-medium"><i class="fa fa-file-text"></i></span> Detalles del pedido
                </h1>
                <div class="control is-grouped">
                    <a class="button is-success is-fullwidth" title="Imprimir Excel" (click)="imprimirExcel(); " *ngIf="esEditar">
                        <span class="icon"><i class="fa fa-file-excel-o"></i></span> <span>Excel</span>
                    </a>
                    <a class="button is-info is-fullwidth" [ngClass]="{ 'is-loading': cargandoPdf, 'is-inverted': !cargandoPdf }" title="Imprimir PDF" (click)="mostrarDialogo(); " *ngIf="esEditar">
                        <span class="icon"><i class="fa fa-print"></i></span> <span>Imprimir</span>
                    </a>
                </div>
                </section>

                <div style="padding: 1em;">
                    <label class="label">Folio:</label>
                    <p class="control">
                        <input type="text" class="input is-fullwidth" readonly="readonly" value="{{(pedido.datosImprimir)?pedido.datosImprimir.folio:'S/F'}}"/>
                    </p>

                    <label class="label">Almacén:</label>
                    <p class="control">
                        <input type="text" class="input is-fullwidth" readonly="readonly" value="{{(pedido.datosImprimir)?pedido.datosImprimir.almacen_solicitante.nombre:'Sin almacen asignado'}}"/>
                    </p>

                    <label class="label">Nombre del Pedido:</label>
                    <p class="control">
                        <input type="text" class="input is-fullwidth" readonly="readonly" value="{{(pedido.datosImprimir)?pedido.datosImprimir.descripcion:''}}"/>
                    </p>

                    <label class="label">Fecha:</label>
                    <p class="control">
                        <input type="text" class="input is-fullwidth" readonly="readonly" value="{{(pedido.datosImprimir)?pedido.datosImprimir.fecha:''}}"/>
                    </p>

                    <div class="control">
                        <textarea name="observaciones" class="textarea" placeholder="Observaciones"  readonly="readonly">{{(pedido.datosImprimir)?pedido.datosImprimir.observaciones:''}}</textarea>
                    </div>

                    <label class="label">Datos del Proveedor:</label>
                    <div *ngIf="pedido.datosImprimir" class="level-item">
                        <input *ngIf="pedido.datosImprimir.almacen_proveedor" type="text" class="input is-fullwidth" readonly="readonly" value="{{pedido.datosImprimir.almacen_proveedor.nombre}}"/>
                        <div *ngIf="pedido.datosImprimir.proveedor" >
                        <p class="subtitle is-5">
                            {{pedido.datosImprimir.proveedor.nombre}}<br>
                            <small>
                            {{pedido.datosImprimir.proveedor.contacto}}<br>
                            {{pedido.datosImprimir.proveedor.email}}<br>
                            Cel: {{pedido.datosImprimir.proveedor.celular}}
                            </small>
                        </p>
                        </div>
                    </div>
                    <hr>
                    <div class="control is-grouped" style="padding-top:10px;" *ngIf="!cargando">
                        <p class="control" *ngIf="pedido.status != 'FI' && pedido.datosImprimir.tipo_pedido_id == 'PA'">
                        <a class="button is-primary" routerLink="/almacen/pedidos-jurisdiccionales/recepcion/{{pedido.id}}"> <span class="icon"><i class="fa fa-truck"></i></span> <span>Recibir Pedido</span></a>
                        </p>
                        <p class="control">
                        <a class="button is-white" routerLink="{{obtenerDireccion()}}" >Ir a la lista</a>
                        </p>                
                    </div>
                </div>
            </div>
            <br>
        </div>
      </div>

      <div class="tile is-parent is-vertical">
        <div class="tile is-child" >
          <div class="contenedor-pedido" >
            <div class="top-bar" [ngClass]="{'is-primary':!pedido.filtro.activo,'is-dark': pedido.filtro.activo }">
                <span *ngIf="!pedido.filtro.activo">Claves: {{ pedido.lista.length }} Insumos: {{pedido.totalInsumos | number}} Total: $ {{ pedido.totalMonto | number: '1.2-2' }}</span>
                <span *ngIf="pedido.filtro.activo"><span class="icon"><i class="fa fa-search"></i></span> Resultados: {{ pedido.filtro.lista.length }}</span>                
            </div> 

            <div class="is-fullwidth has-text-centered" *ngIf="cargando">
                <br>
                <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                <br>
                <br>
            </div>
            
            <table class="table is-unselectable" *ngIf="!cargando" style="font-size: 0.8em;">
                <thead>
                    <tr  >
                        <th style="width:41px;vertical-align: middle;" class="has-text-centered" >Lote</th>
                        <th class="is-hidden-mobile" style="width:118px;">
                        <p class="control is-expanded" >
                            <input type="hidden" #searchBoxClavePrevia >                            
                            <input class="input is-small" type="text" placeholder="Filtrar" #searchBoxClave id="search-box-clave-{{indexPedido}}" (keyup)="buscar($event,searchBoxClave, searchBoxClavePrevia,[{ input: searchBoxClave, campos: ['clave','descripcion']}])">
                        </p>
                        </th>
                        <th class="is-hidden-tablet">
                        <p class="control is-expanded">
                            <input type="hidden" #searchBoxDescripcionClavePrevia >                            
                            <input class="input is-small" type="text" placeholder="Clave o Genérico" #searchBoxDescripcionClave id="search-box-descripcion-clave-{{indexPedido}}" (keyup)="buscar($event,searchBoxDescripcionClave,searchBoxDescripcionClavePrevia,[{ input: searchBoxDescripcionClave, campos: ['clave','descripcion']}])">
                        </p>
                        </th>  
                        <th style="vertical-align: middle;" class="is-hidden-mobile " >Descripcion</th>                  
                        <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Cantidad">Cant.</abbr></th>
                        <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Monto">Monto</abbr></th>
                        <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Unidades médicas asignadas">Clues</abbr></th>
                        <th  style="width:21px !important;"></th>
                    </tr>
                </thead>
                <tbody *ngIf="!pedido.filtro.activo">

                    <tr   *ngFor="let item of pedido.paginacion.lista; let i = index;">
                    <td class="has-text-centered">{{ item.lote }}</td>
                    <td class="has-text-centered is-hidden-mobile"><a (click)="mostrarFichaInformativa($event, item.clave)" style="cursor:help;">{{ item.clave }}</a></td>            
                    
                    <td>
                        <small class="is-hidden-tablet">{{ item.clave }} <br></small>
                        <div style="line-height:1em;">
                        <small>{{ item.descripcion }}</small>
                        {{item.tipo}}
                        </div>
                        <div style="padding: 0.5em 0 0.5em 0; ">
                        <span *ngIf="(item.es_causes && item.tipo == 'ME')" class="tag is-success" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">CAUSES</span>
                        <span *ngIf="(!item.es_causes && item.tipo == 'ME')" class="tag is-danger" style="font-size: 0.7em !important;">NO CAUSES</span>
                        <span *ngIf="item.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                        <span *ngIf="item.es_cuadro_basico" class="tag is-light" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">Cuadro básico</span>
                        <span *ngIf="(item.tipo == 'ME' && item.informacion)">
                            <span *ngIf="item.informacion.es_controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span>
                            <span *ngIf="item.informacion.es_surfactante" class="tag is-warning" style="font-size: 0.7em">Surfactante</span>  
                        </span>
                        </div>
                    </td>

                    <td style="width:78px !important;text-align:center;">
                        <a (click)="toggleModalListaClues(item); ">{{ item.cantidad }}</a>
                    </td>

                    <td style="text-align: right;">
                            $<b><abbr>{{item.monto | number:'1.2-2'}}</abbr></b>
                        </td>
                        <td style="width:100px !important; text-align:center">
                             <a (click)="toggleModalListaClues(item); ">{{ item.lista_clues.length }}</a>
                        </td>
                        <td style="width:48px !important;">
                            <a (click)="toggleModalListaClues(item); "><span class="icon"><i class="fa fa-list"></i></span></a>
                        </td>
                    </tr>      
                </tbody>
                <tbody *ngIf="pedido.filtro.activo">
                    <tr  *ngFor="let item of pedido.filtro.paginacion.lista; let i = index;">
                    <td class="has-text-centered">{{ item.lote }}</td>
                    <td class="has-text-centered is-hidden-mobile"><a (click)="mostrarFichaInformativa($event, item.clave)" style="cursor:help;">{{ item.clave }}</a></td>            
                    
                    <td>
                        <small class="is-hidden-tablet">{{ item.clave }} <br></small>
                        <div style="line-height:1em;">
                        <small>{{ item.descripcion }}</small>
                        </div>
                        <div style="padding: 0.5em 0 0.5em 0; ">
                        <span *ngIf="(item.es_causes && item.tipo == 'ME')" class="tag is-success" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">CAUSES</span>
                        <span *ngIf="(!item.es_causes && item.tipo == 'ME')" class="tag is-danger" style="font-size: 0.7em !important;">NO CAUSES</span>
                        <span *ngIf="item.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                        <span *ngIf="item.es_cuadro_basico" class="tag is-light" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">Cuadro básico</span>
                        <span *ngIf="(item.tipo == 'ME' && item.informacion)">
                            <span *ngIf="item.informacion.es_controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span>
                            <span *ngIf="item.informacion.es_surfactante" class="tag is-warning" style="font-size: 0.7em">Surfactante</span>  
                        </span>
                        </div>
                    </td>
                    <td style="width:78px !important; text-align:center;">
                        <a (click)="toggleModalListaClues(item); ">{{ item.cantidad }}</a>
                    </td>
                    <td style="width:78px !important;">
                        <b><abbr>$ {{item.monto | number:'1.2-2'}}</abbr></b>
                    </td> 
                    </tr>
                </tbody>              
            </table>
            
            <paginacion 
                    [total]="pedido.lista.length" 
                    [paginasTotales]="pedido.paginacion.totalPaginas" 
                    [resultadosPorPagina]="pedido.paginacion.resultadosPorPagina" 
                    [paginaActual]="pedido.paginacion.paginaActual" 
                    [indicePaginas]="pedido.paginacion.indice"
                    (onSiguiente)="pedido.paginaSiguiente()" 
                    (onAnterior)="pedido.paginaAnterior()" 
                    (onListar)="pedido.listar($event)" 
                    *ngIf="pedido.lista.length > 0 && pedido.lista.length > pedido.paginacion.resultadosPorPagina && !pedido.filtro.activo"></paginacion>
            
            <paginacion 
                    [total]="pedido.filtro.lista.length" 
                    [paginasTotales]="pedido.filtro.paginacion.totalPaginas" 
                    [resultadosPorPagina]="pedido.filtro.paginacion.resultadosPorPagina" 
                    [paginaActual]="pedido.filtro.paginacion.paginaActual" 
                    [indicePaginas]="pedido.filtro.paginacion.indice"
                    (onSiguiente)="pedido.filtro.paginaSiguiente()" 
                    (onAnterior)="pedido.filtro.paginaAnterior()" 
                    (onListar)="pedido.filtro.listar($event)" 
                    *ngIf="pedido.filtro.lista.length > 0 && pedido.filtro.lista.length > pedido.filtro.paginacion.resultadosPorPagina && pedido.filtro.activo"></paginacion>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notification is-danger" style="position:fixed; left:1em;  bottom:1em;" *ngIf="mensajeError.mostrar">
    <button class="delete" (click)="mensajeError.mostrar = false"></button>        
    <b>Error:</b> {{ mensajeError.texto }}<br><br>    
</div>

<div class="notification is-success" style="position:fixed; left:1em;  bottom:1em; width: auto" *ngIf="mensajeExito.mostrar">       
    <button class="delete" (click)="mensajeExito.mostrar = false"></button>
    <p><span class="icon" style="margin-right: 0.5em;"><i class="fa fa-check-circle"></i></span> <span>{{ mensajeExito.texto }}</span></p>
    <br>
    <p style="text-align: center;"><small >Este mensaje desaparecerá en {{ mensajeExito.cuentaAtras }} segundos.</small></p>       
</div>

<div class="modal is-active" [ngClass]="{'is-active': mostrarImprimirDialogo}">
  <div class="modal-background" (click)="cerrarDialogo()"></div>
  <div class="modal-card" style="width:95%; height: auto;">
    <header class="modal-card-head" style="background: #00d1b2;">
      <div class="container is-fluid"  style="width:100%;">
          <h1 class="title" style="color:#FFF;">
            <span class="icon is-medium"><i class="fa fa-print"></i></span> Imprimir Pedido 
          </h1>
      </div>            
      <a class="button  is-primary" style="position:absolute; top:1em; right:1em;" (click)="cerrarDialogo()"><span class="icon "><i class="fa fa-close"></i></span></a>
    </header>
    <section class="modal-card-body" style="padding:0px;" >
      <div style="padding: 1em;">
        <div class="columns">
          <div class="column is-one-quarter" *ngFor="let tipo of tiposSubPedidos">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{subPedidos[tipo].titulo}}
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <strong>Total claves</strong>: {{subPedidos[tipo].claves | number}} <br>
                  <strong>Total unidades</strong>: {{subPedidos[tipo].cantidad | number}} <br>
                  <strong>Total monto</strong>: $ {{subPedidos[tipo].monto + ((subPedidos[tipo].tiene_iva)?+subPedidos[tipo].monto*16/100:0) | number:'1.2-2'}}
                </div>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item" (click)="imprimir(tipo)" [ngClass]="{ 'is-loading': cargandoPdf, 'is-inverted': !cargandoPdf }">
                  <span class="icon is-medium"><i class="fa fa-file-pdf-o"></i></span>&nbsp;<span>Descargar/Imprimir</span>
                </a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="" style="position:relative; padding:1em;background: #FFF; border-top:1px solid #EEE; border-radius:0 0 0.8em 0.8em " >
    </footer>
  </div>
</div>

<pedidos-jurisdiccionales-lista-clues *ngIf="mostrarModalListaClues" [insumo]="loteSeleccionado" [listaClaveAgregadas]="listaClaveAgregadas" [lectura]="true" (onCerrar)="mostrarModalListaClues = false"></pedidos-jurisdiccionales-lista-clues>