<div class="modal is-active" >
  <div class="modal-background" (click)="cerrar()"></div>
  <div class="modal-card" style="width:95%; height: auto;">
   
    <header class="modal-card-head" style="background: #00d1b2;">
      
                    
      <div class="container is-fluid"  style="width:100%;">
          <h1 class="title" style="color:#FFF;">
            <span class="icon is-medium"><i class="fa fa-list"></i></span> Distribución de cantidades
          </h1>
      </div>            
      <a class="button  is-primary" style="position:absolute; top:1em; right:1em;" (click)="cerrar()"><span class="icon "><i class="fa fa-close"></i></span></a>
    </header>
    <section class="modal-card-body" style="padding:0px;" >
      <table class="table is-unselectable" *ngIf="!cargando && !guardando" style="font-size: 0.8em; margin:0px !important">
        <thead>
            <tr  >
                <th style="width:41px;vertical-align: middle;" class="has-text-centered" >Lote</th>
                <th class="is-hidden-mobile" style="width:118px;">Clave</th>
                <th class="is-hidden-tablet">Clave o Genérico</th>  
                <th style="vertical-align: middle;" class="is-hidden-mobile " >Descripcion</th>                  
                <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Cantidad">Cant.</abbr></th>
                 <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Precio">Precio</abbr></th>
                <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Monto">Monto</abbr></th>
                <th  style="width:21px !important;"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="has-text-centered">{{ insumo.lote }}</td>
                <td class="has-text-centered is-hidden-mobile">{{ insumo.clave }}</td>     
                <td>
                    <small class="is-hidden-tablet">{{ insumo.clave }} <br></small>
                    <div style="line-height:1em;">
                    <small>{{ insumo.descripcion }}</small>
                    </div>
                    <div style="padding: 0.5em 0 0.5em 0; ">
                    <span *ngIf="(insumo.es_causes && insumo.tipo == 'ME')" class="tag is-success" [ngClass]="{'is-dark': insumo == insumoSeleccionado}" style="font-size: 0.7em !important;">CAUSES</span>
                    <span *ngIf="(!insumo.es_causes && insumo.tipo == 'ME')" class="tag is-danger" style="font-size: 0.7em !important;">NO CAUSES</span>
                    <span *ngIf="insumo.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                    <span *ngIf="insumo.es_cuadro_basico" class="tag is-light" [ngClass]="{'is-dark': insumo == insumoSeleccionado}" style="font-size: 0.7em !important;">Cuadro básico</span>
                    <span *ngIf="(insumo.tipo == 'ME' && insumo.informacion)">
                        <span *ngIf="insumo.informacion.es_controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span>
                        <span *ngIf="insumo.informacion.es_surfactante" class="tag is-warning" style="font-size: 0.7em">Surfactante</span>  
                    </span>
                    </div>
                </td>                
                <td style="width:100px !important;text-align:center;">{{ insumo.cantidad }}</td>
                <td style="width:78px !important; text-align:center;">$<b><abbr>{{insumo.precio | number:'1.2-2'}}</abbr></b></td>
                <td style="width:78px !important; text-align:center;">$<b><abbr>{{insumo.monto | number:'1.2-2'}}</abbr></b></td>
            </tr>      
        </tbody>
      </table>
      <hr style="margin:0px !important">
      <table class="table" style="font-size: 0.8em;">
        <thead>
          <tr>
            <th style="width:110px !important;">Clues ({{ insumo.lista_clues.length }})</th>
            <th>Nombre</th>
            <th style="width:90px !important;text-align:center">Cantidad</th>              
            <th style="width:50px; text-align:right">Monto</th>  
            <th  *ngIf="!lectura"></th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of insumo.lista_clues; let i = index">
            <td>{{ item.clues}}</td>
            <td>{{ item.nombre}}</td>
            <td style="width:100px !important;"  *ngIf="!lectura">
                <p class="control is-expanded">
                <input class="input is-small has-text-centered"  type="number" placeholder="Cant" (keyup)="actualizarTotales()" (mouseup)="actualizarTotales()" [(ngModel)]="item.cantidad">
                </p>
            </td>

            <td style="width:100px !important; text-align:center;"  *ngIf="lectura">{{ item.cantidad }} </td>
            <td style="text-align:right">$<b><abbr>{{insumo.precio * item.cantidad | number:'1.2-2'}}</abbr></b></td>
            <td style="width:32px !important;" *ngIf="!lectura">
                <a (click)="eliminarInsumo(item,i)"><span class="icon"><i class="fa fa-trash"></i></span></a>
            </td>
          </tr>
        </tbody>
      </table>
            
    </section>
    <footer class="" style="position:relative; padding:1em;background: #FFF; border-radius:0 0 0.8em 0.8em " ></footer>
  </div>
</div>
