<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<!-- <formulario #ctrl URL="entrada-almacen" titulo="DAM / Apertura pedido" [dato]="dato"></formulario> -->

<!-- Menu principal  menutitulo="titulo del modulo en el que estamos con el nombre como se encuentra en enviroment" menuactual="nombre del hub donde estamos como se especifico en el routing"-->
<div style="height: 50px">
    <app-menu-dam [modulo]="'Pedidos DAM'" [icono]="'assets/hub-estandar.svg'" [url]="'/pedidos/dam'" [urlAyuda]="'ayuda'"></app-menu-dam>
</div>

<div class="contenedor columns " style="padding: 1em;">
    <div class="column is-one-quarter">
        <section class="hero is-primary" style="border-top-left-radius: 1em; border-top-right-radius: 1em;">
            <h1 class="title" style="margin:0.5em; ">
                <span class="icon is-medium">
                    <i class="fa fa-file-text"></i>
                </span> Datos generales
            </h1>
        </section>
        <div style="background: #FFF; padding: 1em; overflow: scroll; overflow-x: hidden;"> 
                <!-- <i class="fa fa-file"></i>
                    Datos del movimiento -->
                    <div class="columns" style="font-size: 22px; text-align: right">
                        <strong class="column">Presupuesto Total: </strong>
                        <strong class="column">{{ ( this.form_dato.metadato_compra_consolidada.presupuesto_compra | currency:'' ) }}  &nbsp;  &nbsp;  </strong>
                    </div>
                    <span class="help is-danger" *ngIf="form_dato.metadato_compra_consolidada.presupuesto_compra == 0 && error_formulario">El presupuesto total no puede ser $0.00.</span>
                    <div>
                            <div class="field">
                                <label class="label">Presupuesto Causes:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input"  currencyMask [(ngModel)]='form_dato.metadato_compra_consolidada.presupuesto_causes' 
                                        [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                                        [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}"
                                        (keypress)="validar_input_currency('presupuesto_causes'); calcular_presupuesto_asignado()"
                                        (blur)="validar_input_currency('presupuesto_causes'); calcular_presupuesto_asignado()"/>
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Presupuesto No Causes:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input"  currencyMask [(ngModel)]='form_dato.metadato_compra_consolidada.presupuesto_no_causes' 
                                        [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                                        [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}"
                                        (keypress)="validar_input_currency('presupuesto_no_causes'); calcular_presupuesto_asignado()"
                                        (blur)="validar_input_currency('presupuesto_no_causes'); calcular_presupuesto_asignado()"/>
                                </p>
                            </div>
                    </div>
        </div>
        <div style="background: #FFF; padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-420"> 
            <div>
                <div class="field">
                    <label class="label" >Entregar en:</label>
                    <div class="control">
                        <label class="radio" [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}">
                            <input type="radio" value="ESTATAL" [(ngModel)]='form_dato.metadato_compra_consolidada.lugar_entrega' name="lugar_entrega"
                                [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}">
                            Almacén Estatal
                        </label>
                        <!-- <label class="radio" [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}">
                            <input type="radio" value="UM" [(ngModel)]='form_dato.metadato_compra_consolidada.lugar_entrega' name="lugar_entrega"
                                [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}">
                            Almacén Unidad Médica
                        </label> -->
                    </div>
                </div>
                <br>
                    <div class="field">
                        <label class="label">Fecha límite de captura:</label>
                        <p class="control is-expanded  has-icon has-icon-right">
                            <input class="input"  [(ngModel)]='form_dato.metadato_compra_consolidada.fecha_limite_captura' ngui-datetime-picker 
                                [min-date]="capturaDate" date-only="true"
                                [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO', 'is-danger': form_dato.fecha_inicio == ''}" name="fecha_inicio"
                                placeholder="YYYY-MM-DD" readonly/>
    
                            <span class="icon is-small">
                                <i class="fa fa-warning" *ngIf="form_dato.metadato_compra_consolidada.fecha_limite_captura == ''"></i>
                            </span>
                            <span class="help is-danger" *ngIf="form_dato.metadato_compra_consolidada.fecha_limite_captura == ''">Este campo es requerido.</span>
                        </p>
                    </div>
                    <div class="control" >
                            <div class="field">
                                <label class="label">Programa:</label>
                            </div><!-- SI carga los programas -->
                            <div class="control is-grouped">
                                <span *ngIf="cargando || cargandoCatalogo" class="tag is-primary is-medium">Cargando programas. 
                                    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                </span>
                                <div  *ngIf="!cargando && !cargandoCatalogo" class="select control is-expanded  has-icon has-icon-right">
                                    <select class="select is-medium" name="seleccionar_programa" id="seleccionar_programa" required
                                        [(ngModel)]='form_dato.metadato_compra_consolidada.programa_id'
                                        [ngClass]="{'is-disabled': tieneid && (form_dato.estatus == 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO')}">
                                        <option value="">Seleccione un programa</option>
                                        <option *ngFor="let item of lista_programas" value="{{item.id}}">{{ item.nombre }}</option>
                                    </select>
                                    <span class="icon is-small" *ngIf="form_dato.metadato_compra_consolidada.programa_id == 0 && error_formulario">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                    <span class="help is-danger" *ngIf="form_dato.metadato_compra_consolidada.programa_id == 0 && error_formulario">Este campo es requerido.</span>
                                    <span class="help is-danger" *ngIf="lista_programas.length == 0"> No se cargaron programas, contacte al administrador.</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field">
                            <label class="label">Observaciones:</label>
                            <p class="control is-expanded  has-icon has-icon-right">
                                <textarea class="textarea" type="text"
                                    [ngClass]="{'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}"
                                    placeholder="Observaciones" [(ngModel)]='form_dato.observaciones' ></textarea>
                            </p>
                        </div>
                
            </div>
        </div>
    </div>
    <div class="column" style="padding:1em;">
            <!-- inicio formulario -->
            <div style="background: #FFF; border-radius: 1em;">
                <div style="border-radius: 1em;">
                    <section class="hero is-primary" style="border-top-left-radius: 1em; border-top-right-radius: 1em;">
                        <div class="title" style="margin:0.5em;">
                            <!-- Opciones  -->
                            <nav class="level" style="padding-left: 1em;">
                                <!-- Left side -->
                                <div class="level-left ">
                                    <div class="level-item">
                                        <p class="title">
                                            <span *ngIf="!cargando || !cargando" class="icon is-medium">
                                                <i class="fa fa-list-alt"></i>
                                            </span>
                                            <span *ngIf="cargando || cargando" class="icon is-medium">
                                                <i class="fa fa-refresh fa-spin"></i>
                                            </span>
                                            Presupuestos
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="level-right">
                                    <button class="button is-primary tooltip"  routerLink="/pedidos/dam">
                                        <span class="icon fa-2x">
                                            <i class="fa fa-arrow-left"> </i>
                                        </span>
                                        <span class="tooltiptext">Regresar</span>
                                    </button>

                                    <button class="button is-primary tooltip" (click)=" cargarCatalogo('programa', 'lista_programas', 'estatus'); cargarDatos(form_dato.id);" id='cargar_datos_actualizar'>
                                        <span class="icon ">
                                            <i class="fa fa-refresh fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext">Actualizar</span>
                                    </button>
                                    <button class="button is-primary" type="button"
                                            [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}" (click)="enviar();">
                                        <span class="icon">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        </span> &nbsp; Guardar avance
                                        <span id="borrador" (click)="enviar();"></span>
                                    </button>
    
                                    <button class="button is-primary tooltip" (click)="crearApertura()" type="submit"
                                            [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}" [disabled]="form_dato.invalid">
                                        <span class="icon" style="color: darkgreen">
                                            <i class="fa fa-unlock-alt fa-2x"> </i>
                                        </span>
                                        <span class="tooltiptext" style="color: darkgreen">Crear apertura</span>
                                    </button>
                                    
                                    <button class="button is-primary tooltip" (click)="abrirModal('concentrarPedido');" title="Concentrar pedido Global" type="submit"
                                            [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'NOINICIALIZADO' || form_dato.estatus === 'CONCENTRADO'  || form_dato.estatus === 'AJUSTADO'}"
                                            [disabled]="form_dato.estatus == 'NOINICIALIZADO'">
                                        <span class="icon" style="color: blue">
                                            <i class="fa fa-play-circle fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext" style="color: blue">Concentrar pedido global</span>
                                    </button>
                                    <!-- <button class="button is-primary tooltip" (click)="crear_cuadro();" title="Concentrar pedido Global" type="submit"
                                            [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'NOINICIALIZADO' || form_dato.estatus === 'CONCENTRADO'  || form_dato.estatus === 'INICIALIZADO'}"
                                            >
                                        <span class="icon" style="color: blue">
                                            <i class="fa fa-file-text fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext" style="color: blue">Crear cuadro de distribución</span>
                                    </button> -->
                                    <button class="button is-primary tooltip" (click)="consultar_pedido();" title="Consultar pedido Global" type="submit"
                                            [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'NOINICIALIZADO' || form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'AJUSTADO'}"
                                            [disabled]="form_dato.estatus == 'NOINICIALIZADO' || form_dato.estatus === 'INICIALIZADO'">
                                        <span class="icon">
                                            <i class="fa fa-eye fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext">Consultar pedido global</span>
                                    </button>
                                    <button class="button is-primary tooltip"  (click)="imprimir()" title="PDF" type="submit"
                                        [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'NOINICIALIZADO'}"
                                        [disabled]="form_dato.invalid">                                        
                                        <span class="icon">
                                            <i class="fa fa-file-pdf-o fa-2x"></i>
                                        </span>
                                        <span class="tooltiptext">Imprimir</span>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </section>
                    <div>
                            <div style="padding: 1em;padding-right: 3.5em;padding-left: 2em;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Presupuesto</th>
                                            <th style="text-align: right; width: 33%">CAUSES</th>
                                            <th style="text-align: right; width: 33%">NO CAUSES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <th>Autorizado</th>
                                            <th style="text-align: right; width: 33%"> {{(form_dato.metadato_compra_consolidada.presupuesto_causes | currency:'' ) }} </th>
                                            <th style="text-align: right; width: 33%"> {{(form_dato.metadato_compra_consolidada.presupuesto_no_causes | currency:'' )}}</th>
                                        </tr>
                                        <tr>
                                            <th>Utilizado</th>
                                            <td style="text-align: right; width: 33%">
                                                <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_causes_asignado > form_dato.metadato_compra_consolidada.presupuesto_causes ? 'red' : ''}">
                                                    {{(form_dato.metadato_compra_consolidada.presupuesto_causes_asignado | currency:'' )}}
                                                </span>
                                            </td>
                                            <td style="text-align: right; width: 33%"> 
                                                <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_no_causes_asignado > form_dato.metadato_compra_consolidada.presupuesto_no_causes ? 'red' : ''}">
                                                    {{(form_dato.metadato_compra_consolidada.presupuesto_no_causes_asignado | currency:'' )}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Disponible</th>
                                            <td style="text-align: right; width: 33%"> <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_causes_disponible < 0 ? 'red' : ''}">{{(form_dato.metadato_compra_consolidada.presupuesto_causes_disponible | currency:'' )}} </span></td>
                                            <td style="text-align: right; width: 33%">
                                                <span [ngStyle]="{'color': form_dato.metadato_compra_consolidada.presupuesto_no_causes_disponible < 0 ? 'red' : ''}">
                                                    {{(form_dato.metadato_compra_consolidada.presupuesto_no_causes_disponible | currency:'' )}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                
                            <!-- Botón para agregar programas  -->
                            <article class="tile is-primary is-child notification has-text-centered" style="padding: 0; padding-left: 1em;">
                                <nav class="level" style="padding-left: 1em;">
                                    <!-- Left side -->
                                    <div class="level-left" style="margin: 0.5em" [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'AJUSTADO'}">
                                        <div class="level-item"
                                        [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'AJUSTADO'}">
                                            <p class="title">
                                                <span *ngIf="!cargando || !cargando" class="icon is-medium">
                                                    <i class="fa fa-hospital-o"></i>
                                                </span>
                                                <span *ngIf="cargando || cargando" class="icon is-medium">
                                                    <i class="fa fa-refresh fa-spin"></i>
                                                </span>
                                                CLUES
                                            </p>
                                        </div>
                                    </div>
                                    <div class="level-left" style="margin: 0.5em">
                                        <div class="level-item"
                                        [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'NOINICIALIZADO' || form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO'}">
                                            <p class="title">
                                                <span *ngIf="!cargando || !cargando" class="icon is-medium">
                                                    <i class="fa fa-shopping-basket"></i>
                                                </span>
                                                <span *ngIf="cargando || cargando" class="icon is-medium">
                                                    <i class="fa fa-refresh fa-spin"></i>
                                                </span>
                                                Insumos
                                            </p>
                                        </div>
                                    </div>
                                    <div class="level-right" style="padding-right: 4em;">
                                        <div class="level-item" [ngClass]="{'is-hidden': form_dato.estatus == 'INICIALIZADO'}">
                                            <a  class="button is-primary"
                                                [ngClass]="{'is-hidden': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}"
                                                title="Agregar más insumos de esta clave" (click)="agregarCLUES()"> 
                                                <span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>&nbsp; Agregar CLUES 
                                            </a>
                                        </div>
                                    </div>
                                </nav>
                                    <!-- <h1 class="title">
                                            <span class="icon is-medium">
                                                <i class="fa fa-hospital-o"></i>
                                            </span> CLUES
                                        </h1>
                                <div class="control is-primary" [ngClass]="{'is-hidden': form_dato.estatus == 'INICIALIZADO'}" style="padding-right: 2em; text-align: right;" >
                                    <a  class="button is-primary"
                                        [ngClass]="{'is-hidden': form_dato.estatus === 'INICIALIZADO' }"
                                        title="Agregar más insumos de esta clave" (click)="agregarCLUES()"> 
                                        <span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>&nbsp; Agregar CLUES 
                                    </a>
                                </div> -->
                            </article>
                            <div  style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-400">
                                <!-- *******************TABLA DE          C L U E S            ********************* -->
                                <table class="table" [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus === 'AJUSTADO'}">
                                    <thead>
                                        <tr>
                                            <th style=" text-align: center;"><abbr title="Folio">Folio</abbr></th>
                                            <th>CLUES / Nombre</th>
                                            <th style=" text-align: center;">Causes</th>
                                            <th style=" text-align: center;">No Causes</th>
                                            <th style=" text-align: center;">Total</th>
                                            <th style=" text-align: right;">Estatus</th>
                                            <th title="Presupuesto utilizado" style=" text-align: right;">Utilizado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let clues of form_dato.unidades_medicas; let i_clues = index">
                                            <th style=" text-align: center;"></th>
                                            <th>
                                                <!-- <input class="input is-small" [(ngModel)]='clues.clues'  [ngModelOptions]="{standalone: true}"
                                                [ngClass]="{'is-danger': form_dato.unidades_medicas[i_clues].clues == '', 'is-disabled': form_dato.estatus === 'INICIALIZADO'}"/> -->
                                                <span>{{clues.unidad_medica.nombre}}&nbsp;</span>
                                                <input ngui-auto-complete
                                                    [source]="clues_term"
                                                    [list-formatter]="autocompleListFormatCLUES"
                                                    display-property-name="clues"
                                                    path-to-data=""
                                                    loading-text="Cargando..."
                                                    no-match-found-text="No hay resultados."
                                                    (valueChanged)="select_clues_autocomplete($event, i_clues)"
                                                    min-chars="1"
                                                    class="input is-small"
                                                    value-property-name="unidad_medica.clues"
                                                    [ngClass]="{'is-disabled': tieneid && (form_dato.estatus == 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'), 'is-danger': form_dato.unidades_medicas[i_clues].clues == '' || form_dato.unidades_medicas[i_clues].clues == 'undefined'}"
                                                    type="text" placeholder="CLUES" [(ngModel)]='clues.unidad_medica'
                                                    [ngModelOptions]="{standalone: true}">
                                            </th>
                                            <th>
                                                <span>&nbsp;</span>
                                                <input class="input is-small"  currencyMask [(ngModel)]='clues.presupuesto_causes'  [ngModelOptions]="{standalone: true}"
                                                [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" (blur)="calcular_presupuesto_clues(i_clues); calcular_presupuesto_asignado()"
                                                (keypress)="calcular_presupuesto_clues(i_clues); calcular_presupuesto_asignado()"
                                                [ngClass]="{'is-danger': form_dato.unidades_medicas[i_clues].presupuesto_causes == '', 'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}"/>
                                            </th>
                                            <th>
                                                <span>&nbsp;</span>
                                                <input class="input is-small"  currencyMask [(ngModel)]='clues.presupuesto_no_causes'  [ngModelOptions]="{standalone: true}"
                                                [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" (blur)="calcular_presupuesto_clues(i_clues); calcular_presupuesto_asignado()"
                                                (keypress)="calcular_presupuesto_clues(i_clues); calcular_presupuesto_asignado()"
                                                [ngClass]="{'is-danger': form_dato.unidades_medicas[i_clues].presupuesto_no_causes == '', 'is-disabled': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}"/>
                                            </th>
                                            <th style=" text-align: center;">
                                                {{(clues.presupuesto_clues | currency: '')}}
                                            </th>
                                            <th style=" text-align: right;">
                                                <a *ngIf="clues.estatus == 'FI'" (click)="consultar_pedido_CLUES(clues.pedido.id)"> 
                                                    <span class="tag is-success is-medium" *ngIf="clues.estatus == 'FI'">Finalizado</span>
                                                </a>
                                                <span class="tag is-warning is-medium" *ngIf="clues.estatus == 'BR'">Borrador</span>
                                            </th>
                                            <th style=" text-align: right;">
                                                {{(clues.presupuesto_no_causes_asignado * 1) + (clues.presupuesto_causes_asignado * 1) | currency: '' }}
                                                <!-- {{(clues.presupuesto_no_causes_asignado | currency: '' ) + (clues.presupuesto_causes_asignado | currency: '' )}} -->
                                            </th>
                                            <th>
                                                <p class="control" [ngClass]="{'is-hidden': form_dato.estatus === 'INICIALIZADO' || form_dato.estatus === 'CONCENTRADO' || form_dato.estatus === 'AJUSTADO'}">    
                                                    <span style="float:right;" >
                                                        <a  class="button is-small" style="color: red; padding-left: 12px;" title="Quitar este elemento de la lista" (click)="abrirModal('borrarCLUES', i_clues)">
                                                            <span class="icon is-small"><i class="fa fa-trash-o"></i></span>
                                                        </a>
                                                    </span>
                                                </p>
                                            </th>
                                        </tr>
                                        <tr *ngIf="form_dato.unidades_medicas.length == 0">
                                            <td colspan="6" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- *******************TABLA DE INSUMOS********************* -->
                                <table class="table" [ngClass]="{'is-loading': cargando, 'is-hidden': form_dato.estatus != 'AJUSTADO'}">
                                    <thead>
                                        <tr>
                                            <th style=" text-align: center;"><abbr title="#">NP</abbr></th>
                                            <th style=" text-align: center;">Clave</th>
                                            <th>Descripción</th>
                                            <th style=" text-align: center;">Precio</th>
                                            <th style=" text-align: center;">Cantidad solicitada</th>
                                            <th style=" text-align: center;">Cantidad ajustada</th>
                                            <th style=" text-align: center;">Importe</th>
                                            <!-- <th style=" text-align: center;">Opciones</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let insumo of insumos_pedido; let i_insumos = index"
                                            [ngStyle]="{'background': insumo.cantidad_solicitada != insumo.cantidad_enviada ? '#FFFB7E' : ''}">
                                            <th style=" text-align: center;">
                                                <a (click)="consultar_pedido_medicamento(insumo.insumo_medico_clave, insumo)"> {{i_insumos + 1}} </a>
                                            </th>
                                            <th style=" text-align: center;">
                                                <span *ngIf="insumo.cantidad_solicitada != insumo.cantidad_enviada">
                                                    <a (click)="consultar_pedido_medicamento(insumo.insumo_medico_clave, insumo)"> 
                                                        {{insumo.insumo_medico_clave}}&nbsp;
                                                    </a>
                                                </span>
                                                <span *ngIf="insumo.cantidad_solicitada == insumo.cantidad_enviada">
                                                        {{insumo.insumo_medico_clave}}&nbsp;
                                                </span>
                                            </th>
                                            <th>
                                                <a (click)="consultar_pedido_medicamento(insumo.insumo_medico_clave, insumo)">
                                                    <span>{{insumo.info_insumo.descripcion}}&nbsp;</span>
                                                    <label class="tag is-success" *ngIf="insumo.info_insumo.es_causes == true"><strong>Causes </strong></label>
                                                    <label class="tag" *ngIf="insumo.info_insumo.es_causes == 0" style="background: #B8FB7E; border-color: #B8FB7E; color: rgba(0,0,0,0.7);" ><strong>No Causes </strong> </label>
                                                    <span *ngIf="insumo.info_insumo.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                                                </a>
                                            </th>
                                            <th style="text-align: right;">
                                                {{insumo.precio_unitario | currency:''}}
                                            </th>
                                            <th style="text-align: right;">
                                                {{insumo.cantidad_enviada | number}}
                                            </th>
                                            <th style=" text-align: right;">
                                                {{insumo.cantidad_solicitada}}
                                            </th>
                                            <th style=" text-align: right;">
                                                {{insumo.monto_solicitado | currency:''}}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>                    
                </div>
            </div>
            <simple-notifications [options]="options"></simple-notifications>
    </div>
</div>

<!-- ***************************************** INICIO - MODALES ***************************************** -->


<div [ngClass]="{'is-active': cargarPedido}" class="modal" id="cargandoInventario" >
    <div class="modal-background"></div>
    <div class="modal-content">
        <p style="color: rgb(255, 255, 255); text-align: center;">
            <span><i class="fa fa-spinner fa-pulse fa-10x"></i></span>
            <br>
            <span><h1>Cargando pedido. <strong style="color: #FFF">Espere un momento.</strong> </h1></span>
        </p>
    </div>
</div>

<div class="modal" id="confirmarReestablecer">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
        <button class="delete" (click)="cancelarModal('confirmarReestablecer')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de resetear el inventario?</h1>
                <p>esta acción cargaratodos los productos que tienen inventario para susutituirlo, es necesario llenar y guardar la inicialización de inventario para que se refleje en el stock</p>
            </div>
        </section>
        <footer class="modal-card-foot">
        <a class="button is-success" (click)="cargarArticulos('iniciar')" >Continuar</a>
        <a class="button" (click)="cancelarModal('confirmarReestablecer')" id="cerra_restablecer">Cancelar</a>
        </footer>
    </div>
</div>
<div class="modal" id="borrarInsumo">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
            <button class="delete" (click)="cancelarModal('borrarInsumo')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de eliminar el insumo?</h1>
                <p>Se borrarán todos los lotes del insumo que se hayan agregado.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success" (click)="quitar_form_array(form_dato.programas[i_programa].insumos, index_insumo); cancelarModal('borrarInsumo');">Continuar</a>
            <a class="button" (click)="cancelarModal('borrarInsumo')">Cancelar</a>
        </footer>
    </div>
</div>

<div class="modal" id="borrarCLUES">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
            <button class="delete" (click)="cancelarModal('borrarCLUES')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de eliminar la CLUES seleleccionada?</h1>
                <p>Se borrarán todos el lote seleccionado.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success" (click)="quitar_form_array(form_dato.unidades_medicas, index_borrar); cancelarModal('borrarCLUES');">Continuar</a>
            <a class="button" (click)="cancelarModal('borrarCLUES')">Cancelar</a>
        </footer>
    </div>
</div>

<!-- PEDIDO GLOBAL -->
<div class="modal" id="pedidoGlobal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80%">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-file-text"></i>&nbsp; Listado total de medicamentos del pedido global</p>
            <button class="delete" (click)="cancelarModal('pedidoGlobal')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <div  style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-400">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style=" text-align: center;"><abbr title="#">NP</abbr></th>
                                <th style=" text-align: center;">Clave</th>
                                <th>Descripción</th>
                                <th style=" text-align: center;">Precio</th>
                                <th style=" text-align: center;">Cantidad solicitada</th>
                                <th style=" text-align: center;">Cantidad ajustada</th>
                                <th style=" text-align: center;">Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let insumo of insumos_pedido; let i_insumos = index"
                                [ngStyle]="{'background': insumo.cantidad_solicitada != insumo.cantidad_enviada ? '#FFFB7E' : ''}">
                                <th style=" text-align: center;">{{i_insumos + 1}} </th>
                                <th style=" text-align: center;"><span>{{insumo.insumo_medico_clave}}&nbsp;</span></th>
                                <th>
                                    <span>{{insumo.info_insumo.descripcion}}&nbsp;</span>
                                    <label class="tag is-success" *ngIf="insumo.info_insumo.es_causes == true"><strong>Cause </strong></label>
                                    <label class="tag" *ngIf="insumo.info_insumo.es_causes == false" style="background: #B8FB7E; border-color: #B8FB7E; color: rgba(0,0,0,0.7);" ><strong>No Cause </strong> </label>
                                    <span *ngIf="insumo.info_insumo.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                                </th>
                                <th style="text-align: right;">
                                    {{insumo.precio_unitario | currency:''}}
                                </th>
                                <th style=" text-align: right;">
                                    {{insumo.cantidad_enviada}}
                                </th>
                                <th style=" text-align: right;">
                                    <span [ngStyle]="{'color': insumo.cantidad_solicitada != insumo.cantidad_enviada ? 'green' : ''}">
                                        {{insumo.cantidad_solicitada}}
                                    </span>
                                </th>
                                <th style=" text-align: right;">
                                    {{insumo.monto_solicitado | currency:''}}
                                </th>
                            </tr>
                            <tr *ngIf="insumos_pedido.length == 0">
                                <td colspan="6" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button" (click)="cancelarModal('pedidoGlobal')">Cancelar</a>
        </footer>
    </div>
</div>

<!-- DETALLE DE LOS INSUMOS DE LA CLUES -->

<div class="modal" id="detalleCLUES">
    <div class="modal-background"></div>
    <div *ngIf="detalle_CLUES !== []" class="modal-card" style="width: 80%">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <i class="fa fa-file-text"></i>&nbsp; Detalle pedido:  <strong>{{detalle_CLUES.unidad_medica?.clues}} - {{detalle_CLUES.unidad_medica?.nombre}}</strong>
            </p>
            <button class="delete" (click)="cancelarModal('detalleCLUES')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <div  style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-400">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style=" text-align: center;"><abbr title="#">NP</abbr></th>
                                <th style=" text-align: center;">Clave</th>
                                <th>Descripción</th>
                                <th style=" text-align: center;">Precio</th>
                                <th style=" text-align: center;">Cantidad</th>
                                <th style=" text-align: center;">Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let insumo of detalle_CLUES.insumos; let i_insumos = index">
                                <th style=" text-align: center;">{{i_insumos + 1}} </th>
                                <th style=" text-align: center;"><span>{{insumo.insumo_medico_clave}}&nbsp;</span></th>
                                <th>
                                    <span>{{insumo.info_insumo.descripcion}}&nbsp;</span>
                                    <label class="tag is-success" *ngIf="insumo.info_insumo.es_causes == true"><strong>Cause </strong></label>
                                    <label class="tag" *ngIf="insumo.info_insumo.es_causes == false" style="background: #B8FB7E; border-color: #B8FB7E; color: rgba(0,0,0,0.7);" ><strong>No Cause </strong> </label>
                                    <span *ngIf="insumo.info_insumo.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                                </th>
                                <th style="text-align: right;">
                                    {{insumo.precio_unitario | currency:''}}
                                </th>
                                <th style=" text-align: right;">
                                    {{insumo.cantidad_solicitada}}
                                </th>
                                <th style=" text-align: right;">
                                    {{insumo.monto_solicitado | currency:''}}
                                </th>
                            </tr>
                            <tr *ngIf="detalle_CLUES.insumos?.length == 0">
                                <td colspan="6" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button" (click)="cancelarModal('detalleCLUES')">Cancelar</a>
        </footer>
    </div>
    <div *ngIf="detalle_CLUES == []" class="modal-card" style="width: 80%"> Error al cargar datos</div>
</div>
<!-- FINALIZA DETALLES DE LOS INSUMOS DE LA CLUES -->

<!-- ASIGNAR INSUMOS A UM -->
<div class="modal" id="insumosUM">
        <div class="modal-background"></div>
        <div class="modal-card" style="width: 80%">
            <header class="modal-card-head">
                <p class="modal-card-title"><i class="fa fa-file-text"></i>&nbsp; Designar insumos a Unidades médicas</p>
                <button class="delete" (click)="cancelarModal('insumosUM')"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <div class="columns" style="padding: 1em;">
                        <div class="column">
                            <p>{{insumo_detalle?.insumo_medico_clave}}&nbsp;</p>
                            <span>{{insumo_detalle?.info_insumo?.descripcion}}&nbsp;</span>
                            <label class="tag is-success" *ngIf="insumo_detalle?.info_insumo?.es_causes == true"><strong>Cause </strong></label>
                            <label class="tag" *ngIf="insumo_detalle?.info_insumo?.es_causes == false" style="background: #B8FB7E; border-color: #B8FB7E; color: rgba(0,0,0,0.7);" ><strong>No Cause </strong> </label>
                            <span *ngIf="insumo_detalle?.info_insumo?.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                        </div>
                        <div class="column" style="font-size: 18px !important">
                            <p style="vertical-align: center;">
                                Cantidad total solicitada: <span class="tag is-warning is-medium" style="font-size: 18px ">{{insumo_detalle?.cantidad_enviada}}</span>
                            </p>
                            <p>
                                Cantidad total autorizada: <span class="tag is-success is-medium" style="font-size: 18px ">{{insumo_detalle?.cantidad_solicitada}}</span>
                            </p>
                            <p>
                                Cantidad total ajustada:
                                <span class="tag is-success is-medium" style="font-size: 18px"
                                [ngClass]="{'is-danger': suma_insumos_cd != insumo_detalle?.cantidad_solicitada}">{{suma_insumos_cd}}</span>
                            </p>
                        </div>
                        
                    </div>
                    <div  style="padding: 1em; overflow: scroll; overflow-x: hidden;" [style.height.px]="tamano-500">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style=" text-align: center;"><abbr title="#">NP</abbr></th>
                                    <th style=" text-align: center;">CLUES</th>
                                    <th>Nombre</th>
                                    <th style=" text-align: center;">Precio</th>
                                    <th style=" text-align: center;">Cantidad solicitada</th>
                                    <th style=" text-align: center;">Cantidad ajustada</th>
                                    <th style=" text-align: center;">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let insumo_um_detalle of json_insumos_UM.insumos_ajustar; let i_um = index"
                                    [ngStyle]="{'background': insumo_um_detalle.cantidad_solicitada != insumo_um_detalle.cantidad_enviada ? '#FFFB7E' : ''}">
                                    <th style=" text-align: center;">{{i_um + 1}} </th>
                                    <th style=" text-align: center;"><span>{{insumo_um_detalle.clues_detalles.clues}}&nbsp;</span></th>
                                    <th>
                                        <span>{{insumo_um_detalle.clues_detalles.nombre}}&nbsp;</span>
                                    </th>
                                    <th style="text-align: right;">
                                        {{insumo_um_detalle.precio_unitario | currency:''}}
                                    </th>
                                    <th style=" text-align: right;">
                                        {{insumo_um_detalle.cantidad_enviada}}
                                    </th>
                                    <th style=" text-align: right;">
                                        <!-- <span [ngStyle]="{'color': insumo_um_detalle.cantidad_solicitada != insumo_um_detalle.cantidad_enviada ? 'green' : ''}">
                                            {{insumo_um_detalle.cantidad_solicitada}}
                                        </span> -->
                                        <input class="input is-small" [(ngModel)]="insumo_um_detalle.cantidad_solicitada"
                                            style="text-align: right" [ngModelOptions]="{standalone: true}"
                                            [textMask]="{mask:numberMask}"
                                            (keypress)="quitar_punto($event);"
                                            (keyup)="validar_cantidad_stock_key($event, json_insumos_UM.insumos_ajustar[i_um], i_um)"
                                            (blur)="validar_cantidad_stock_key($event, json_insumos_UM.insumos_ajustar[i_um], i_um)"
                                            (change)="validar_cantidad_stock_key($event, json_insumos_UM.insumos_ajustar[i_um], i_um)"                                                    
                                            [ngClass]="{'is-danger': json_insumos_UM.insumos_ajustar[i_um].cantidad_solicitada == '' || json_insumos_UM.insumos_ajustar[i_um].cantidad_solicitada == null}">
                                                    
                                    </th>
                                    <th style=" text-align: right;">
                                        {{insumo_um_detalle.monto_solicitado | currency:''}}
                                    </th>
                                </tr>
                                <tr *ngIf="insumos_UM.length == 0">
                                    <td colspan="6" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- {{insumos_UM | json}} -->
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success"
                    (click)="validar_insumo_um(insumo_detalle?.insumo_medico_clave); cancelarModal('concentrarPedido')"
                    [ngClass]="{'is-disabled': suma_insumos_cd != insumo_detalle?.cantidad_solicitada}">
                    Continuar
                </a>
                <a class="button" (click)="cancelarModal('insumosUM')">Cancelar</a>
            </footer>
            <simple-notifications [options]="options"></simple-notifications>
        </div>
    </div>
<!-- FIN ASIGNAR INSUMOS A UM -->

<div class="modal" id="concentrarPedido">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta </p>
            <button class="delete" (click)="cancelarModal('concentrarPedido')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¿Esta seguro de concentrar pedido global?</h1>
                <p>Ya no se podrá realizar cambios</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success" (click)="concentrar_pedido(); cancelarModal('concentrarPedido')">Continuar</a>
            <a class="button" (click)="cancelarModal('concentrarPedido')">Cancelar</a>
        </footer>
    </div>
</div>
