<formulario #ctrl URL="mis-servicios" titulo="Servicios / Configuración" [dato]="dato"></formulario>
<panel-control-menu></panel-control-menu>
<div style="height:50px;"></div>

<form name="dato" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar(false)">
    <div class="contenedor columns " style="height:85%">
        <div class="column is-one-quarter is-hidden-mobile">
            <panel-control-menu-aside></panel-control-menu-aside>
        </div>
        <div class="column" style="padding:2em;">
            <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
                <section class="hero is-primary">
                    <div class="hero-body">
                        <nav class="level">
                            <div class="level-left">
                                <div class="container is-fluid">
                                    <h1 class="title">
                                        <span *ngIf="ctrl.cargando" class="icon is-medium"><i class="fa fa-refresh fa-spin"></i></span> 
                                        <span *ngIf="!ctrl.cargando" class="icon is-medium"><i class="fa fa-hospital-o"></i></span>                           
                                        <!-- --> Mis servicios
                                    </h1>
                                    <span style="text-align: right">
                                        Última actualización: <span class="icon is-small"><i class="fa fa-refresh fa-spin"></i></span>
                                        <!-- <strong *ngIf="actualizado" >{{actualizacion | date}}</strong> -->
                                        
                                        Por: <span class="icon is-small"><i class="fa fa-refresh fa-spin"></i></span>
                                        <!-- <strong *ngIf="actualizado">{{actualizacion_usuario}} </strong> -->
                                    </span>
                                </div>
                            </div>
                            <!-- Right side -->
                            <div class="level-right">
                                <p class="level-item"><a class="button is-primary" (click)="ctrl.regresar()">Regresar</a></p>
                                <p class="level-item">
                                    <button class="button is-primary" type="submit" [ngClass]="{'is-loading': ctrl.cargando}" [disabled]="ctrl.dato.invalid">Guardar</button>
                                </p>
                                <p class="level-item">
                                    <a class="button  is-primary" (click)="ctrl.cargarDatos(); ctrl.cargarCatalogo('tipos_servicios', 'servicios?bid=1', 'initMover'); cargarValidar();" id="actualizar"><span class="icon "><i class="fa fa-refresh"></i></span></a>
                                </p>
                                <p class="level-item">&nbsp;</p>
                            </div>
                        </nav>
                        
                    </div>
                </section>
                <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                </div>
                <section class="section">
                    <!-- formulario -->
                        <div class="tabs is-boxed">
                            <ul>
                                <li [ngClass]="{ 'is-active' : tab == 2}">
                                    <a (click)="tab=2">
                                        <span class="icon is-small"><i class="fa fa-home"></i></span>
                                        <span>Tipos de servicios</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab != 2}">
                            <div class="box">
                                <a id="catalogos" (click)="ctrl.cargarCatalogo('tipos_servicios', 'servicios?bid=1', 'initMover'); "></a>
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <div class="column is-5" style="float:left">
                                                <nav class="panel">
                                                    <div class="panel-heading">
                                                        <div class="field">
                                                            <div class="b-checkbox is-info">
                                                                <input id="Movimientos" class="styled" type="checkbox" 
                                                                [checked]="ctrl.todosSeleccionados.izquierda"
                                                                (click)="ctrl.seleccionarTodosMover('izquierda', ctrl.tipos_servicios)">
                                                                <label for="Movimientos">
                                                                Servicios disponibles
                                                            </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="ctrl.cargando" class="has-text-centered" style="overflow: hidden; overflow-x: hidden; height: 450px;">
                                                        <br>
                                                        <br>
                                                        <span class="tag is-primary is-large"><i class="fa fa-refresh fa-spin"></i>&nbsp; Cargando... </span>
                                                    </div>
                                                    <div *ngIf="!ctrl.cargando" style="overflow: scroll; overflow-x: hidden; height: 450px;">
                                                        <label class="panel-block" *ngFor="let val of ctrl.tipos_servicios; let i=index">          
                                                            <div class="field">
                                                                <div class="b-checkbox">
                                                                    <input id="{{val.id}}" class="styled" type="checkbox" 
                                                                    [checked]="ctrl.izquierda.indexOf(val) > -1"
                                                                    (click)="ctrl.agregarMover('izquierda', ctrl.tipos_servicios, val)">
                                                                    <label for="{{val.id}}">
                                                                        {{val.nombre}} 
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </nav>
                                            </div>
                                            <div class="column is-2" style="float:left" >
                                                
                                                <p class="control">
                                                    <button class="button is-default" type="button" style="width:100%" 
                                                    [ngClass]="{'is-success': ctrl.izquierda.length > 0}" 
                                                    [disabled]="ctrl.izquierda.length <= 0"
                                                    (click)="ctrl.iniciarMover('izquierda', ctrl.dato.controls.clues_servicios.controls, ctrl.tipos_servicios, true)">></button>
                                                </p>
                                                <p class="control">
                                                    <button class="button is-default" type="button" style="width:100%" 
                                                    [ngClass]="{'is-success': ctrl.derecha.length > 0}" 
                                                    [disabled]="ctrl.derecha.length <= 0"
                                                    (click)="ctrl.iniciarMover('derecha', ctrl.tipos_servicios, ctrl.dato.controls.clues_servicios.controls, false)"><</button>
                                                </p>
                                                
                                            </div>                        
                                            <div class="column is-5" style="float:left" >
                                                <nav class="panel" formGroupName="clues_servicios">
                                                    <div class="panel-heading">
                                                        <div class="field">
                                                            <div class="b-checkbox is-info">
                                                                <input id="MisServicios" class="styled" type="checkbox" 
                                                                [checked]="ctrl.todosSeleccionados.derecha"
                                                                (click)="ctrl.seleccionarTodosMover('derecha', ctrl.dato.controls.clues_servicios.controls)">
                                                                <label for="MisServicios">
                                                                Mis servicios
                                                            </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="ctrl.cargando" class="has-text-centered" style="overflow: hidden; overflow-x: hidden; height: 450px;">
                                                        <br>
                                                        <br>
                                                        <span class="tag is-primary is-large"><i class="fa fa-refresh fa-spin"></i>&nbsp; Cargando... </span>
                                                    </div>
                                                    <div *ngIf="!ctrl.cargando" style="overflow: scroll; overflow-x: hidden; height: 450px;">
                                                        <label class="panel-block" *ngFor="let item of ctrl.dato.controls.clues_servicios.controls; let i2=index">          
                                                            <div class="field" [formGroupName]="i2">
                                                                <div class="b-checkbox">
                                                                    <input id="miservicio{{item.value.id}}" class="styled" type="checkbox"
                                                                    [checked]="ctrl.derecha.indexOf(item) > -1"
                                                                    (click)="ctrl.agregarMover('derecha', ctrl.dato.controls.clues_servicios.controls, item)">
                                                                    <label for="miservicio{{item.value.id}}">
                                                                        {{item.value.nombre}} 
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <a (click)="ctrl.initMover(ctrl.dato.controls.clues_servicios.controls, ctrl.tipos_servicios, 'nombre');  cargarValidar();" id="initMover"></a>
                        <!--
                        <div class="control is-grouped" style="float:left; padding:10px;">
                            <p class="control">
                                <button class="button is-primary" type="submit" [ngClass]="{'is-loading': ctrl.cargando}" [disabled]="ctrl.dato.invalid">Guardar</button>
                            </p>
                            <p class="control" *ngIf="ctrl.id">
                                <button class="button is-danger" type="button" [ngClass]="{'is-loading': ctrl.cargando}" (click)="ctrl.eliminar(ctrl.id)">Eliminar </button>
                            </p>
                            <p class="control">
                                <a class="button is-white" (click)="ctrl.regresar()">Regresar</a>
                            </p>
                        </div>
                        -->
                </section>
            </div>
        </div>
    </div>
</form>
