<menu-farmacia [modulo]="'Ver'" [icono]="'assets/icono-entregas.svg'" [url]="'/almacen/transferencia-almacen/finalizados'"></menu-farmacia>

<div class="is-fullwidth has-text-centered" style="padding-top:70px;" *ngIf="cargando">
  <br>
  <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
  <br>
  <br>
</div>

<div style="position:relative; padding-top:70px; margin-left: 1.5%; display:block; width:97%; height:100% !important;" *ngIf="pedido">    
  <div class="tile is-ancestor is-vertical" style="height:100% !important; max-height:100% !important;">
    <div class="tile is-parent is-12 ">
      <div class="tile is-child notification is-dark">
        <div class="columns">
          <div class="column" *ngIf="pedido.datosImprimir">
            <div>Folio: <strong style="color:#FFF;">{{ pedido.datosImprimir.folio }}</strong> 
              <span *ngIf="pedidoPorSurtir">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lotes: {{ lotesSurtidos.length  }} / {{ pedido.lista.length }}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span *ngIf="pedidoSurtido && !pedidoEntregado"><strong style="color:#FFF;">Pedido Surtido</strong></span>
              <span *ngIf="pedidoEntregado"><strong style="color:#FFF;">Pedido Entregado</strong></span><br>
              <span *ngIf="pedido.datosImprimir.clues_destino && pedido.datosImprimir.clues_destino != pedido.datosImprimir.clues"><small>
                Almacen destino: <strong style="color:#FFF;"> [{{ pedido.datosImprimir.almacen_solicitante.clues }}] {{ pedido.datosImprimir.almacen_solicitante.nombre }}</strong><br>
                Clues destino: <strong style="color:#FFF;"> {{ pedido.datosImprimir.almacen_solicitante.unidad_medica.nombre }}</strong><br>
              </small></span>
            </div>
          </div>
          <div class="column is-4" style="text-align:center; ">
            <div style="margin:1em;">
              <a  class="button is-white"  style="width:45%" routerLink="/almacen/transferencia-almacen/finalizados"> Regresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent ">
        <div class="tile is-child notification is-white" >
          <div class="contenedor-tabla" >
            <table class="table is-unselectable" *ngIf="!cargando" style="font-size: 0.8em; ">
              <thead>
                  <tr  [ngClass]="{ 'filtro': pedido.filtro.activo}">
                    <th style="width:41px;vertical-align: middle;" class="has-text-centered" >Lote</th>
                    <th>
                      <p class="control is-expanded">
                        <input type="hidden" #searchBoxDescripcionClavePrevia >
                        <input class="input is-small" type="text" placeholder="Clave o Genérico" #searchBoxDescripcionClave id="search-box-descripcion-clave-{{indexPedido}}" (keyup)="buscar($event,searchBoxDescripcionClave,searchBoxDescripcionClavePrevia,[{ input: searchBoxDescripcionClave, campos: ['clave','generico_nombre','informacion.concentracion','informacion.presentacion']}])">
                      </p>
                    </th>  
                    
                    <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Cantidad Solicitada">Solicitado</abbr></th>
                    <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Cantidad Enviada">Enviado</abbr></th>
                    <th style="width:78px !important;text-align: center; vertical-align: middle;"><abbr title="Cantidad Entregada">Entregado</abbr></th>

                    <th  style="width:21px !important; text-align: center; vertical-align: middle;">Surtido</th>
                  </tr>
              </thead>

              <tbody *ngIf="!pedido.filtro.activo">
                  <tr class="item" *ngFor="let item of pedido.paginacion.lista; let i = index;" (click)="seleccionarItem(item)" [ngClass]="{ 'seleccionado': item == itemSeleccionado}">
                      <td class="has-text-centered">{{ item.lote }}</td>
                      <td >
                        <small >{{ item.clave }} <br></small>
                          <div style="line-height:1em;">
                            <small>{{ item.descripcion }}</small>
                          </div>
                        <!--b>{{ item.generico_nombre }}</b> <small *ngIf="(item.tipo == 'ME' && item.informacion)"><b>{{ item.informacion.concentracion }}</b></small><br-->
                        <div class="item-detalle">
                          <!--div   *ngIf="(item.tipo == 'ME' && item.informacion)" style="line-height:1em;">
                            <small><i>{{ item.informacion.presentacion_nombre }}</i></small><br>
                            <small><i>{{ item.informacion.contenido }} </i></small>
                          </div>
                          <div *ngIf="item.tipo != 'ME'" style="line-height:1em;">
                            <small>{{ item.descripcion }}</small>
                          </div-->
                          <div  style="padding: 0.5em 0 0.5em 0; ">
                            <span *ngIf="(item.es_causes && item.tipo == 'ME')" class="tag is-success" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">CAUSES</span>
                            <span *ngIf="(!item.es_causes && item.tipo == 'ME')" class="tag is-danger" style="font-size: 0.7em !important;">NO CAUSES</span>
                            <span *ngIf="item.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                            <span *ngIf="item.es_cuadro_basico" class="tag is-light" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">Cuadro básico</span>
                            
                            <span *ngIf="(item.tipo == 'ME' && item.informacion)">
                              <span *ngIf="item.informacion.es_controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span>
                              <span *ngIf="item.informacion.es_surfactante" class="tag is-warning" style="font-size: 0.7em">Surfactante</span>  
                            </span>
                            
                          </div>
                        </div>
                      </td> 
                      
                      <th style="width:78px !important; text-align:center;">{{ (item.cantidad_solicitada || 0) | number }}</th>
                      <td style="width:78px !important; text-align:center;">{{ (item.cantidad_enviada || 0) | number }}</td>
                      <th style="width:78px !important; text-align:center;">{{ (item.cantidad_recibida || 0) | number }}</th>

                      <td style="width:21px !important; text-align:center;">
                        <span class="icon" style="color:gray;" *ngIf="!item.cantidad_enviada"><i class="fa fa-circle-thin"></i></span>
                        <span class="icon" style="color:orange;" *ngIf="item.cantidad_enviada > 0 && item.cantidad_recibida < item.cantidad_enviada"><i class="fa fa-minus-circle"></i></span>
                        <span class="icon" style="color:green;" *ngIf="item.cantidad_enviada > 0 && item.cantidad_enviada == item.cantidad_recibida"><i class="fa fa-check-circle"></i></span>
                      </td>
                    </tr>
              </tbody>

              <tbody *ngIf="pedido.filtro.activo">
                  <tr class="item"  *ngFor="let item of pedido.filtro.paginacion.lista; let i = index;" (click)="seleccionarItem(item)" [ngClass]="{ 'seleccionado': item == itemSeleccionado}">
                    <td class="has-text-centered">{{ item.lote }}</td>
                    <td >
                      <small >{{ item.clave }} <br></small>
                        <div style="line-height:1em;">
                          <small>{{ item.descripcion }}</small>
                        </div>
                      <!--b>{{ item.generico_nombre }}</b> <small *ngIf="(item.tipo == 'ME' && item.informacion)"><b>{{ item.informacion.concentracion }}</b></small><br-->
                      <div class="item-detalle">
                        <!--div   *ngIf="(item.tipo == 'ME' && item.informacion)" style="line-height:1em;">
                          <small><i>{{ item.informacion.presentacion_nombre }}</i></small><br>
                          <small><i>{{ item.informacion.contenido }} </i></small>
                        </div>
                        <div *ngIf="item.tipo != 'ME'" style="line-height:1em;">
                          <small>{{ item.descripcion }}</small>
                        </div-->
                        <div  style="padding: 0.5em 0 0.5em 0; ">
                          <span *ngIf="(item.es_causes && item.tipo == 'ME')" class="tag is-success" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">CAUSES</span>
                          <span *ngIf="(!item.es_causes && item.tipo == 'ME')" class="tag is-danger" style="font-size: 0.7em !important;">NO CAUSES</span>
                          <span *ngIf="item.tipo == 'MC'" class="tag is-warning" style="font-size: 0.7em !important;">MATERIAL CURACIÓN</span>
                          <span *ngIf="item.es_cuadro_basico" class="tag is-light" [ngClass]="{'is-dark': item == insumoSeleccionado}" style="font-size: 0.7em !important;">Cuadro básico</span>
                          
                          <span *ngIf="(item.tipo == 'ME' && item.informacion)">
                            <span *ngIf="item.informacion.es_controlado" class="tag is-warning" style="font-size: 0.7em">Controlado</span>
                            <span *ngIf="item.informacion.es_surfactante" class="tag is-warning" style="font-size: 0.7em">Surfactante</span>  
                          </span>
                          
                        </div>
                      </div>
                    </td> 
                    
                    <th style="width:78px !important; text-align:center;">{{ (item.cantidad_solicitada || 0) | number }}</th>
                    <td style="width:78px !important; text-align:center;">{{ (item.cantidad_enviada || 0) | number }}</td>
                    <th style="width:78px !important; text-align:center;">{{ (item.cantidad_recibida || 0) | number }}</th>

                    <td style="width:21px !important; text-align:center;">
                      <span class="icon" style="color:gray;" *ngIf="!item.cantidad_enviada"><i class="fa fa-circle-thin"></i></span>
                      <span class="icon" style="color:orange;" *ngIf="item.cantidad_enviada > 0 && item.cantidad_recibida < item.cantidad_enviada"><i class="fa fa-minus-circle"></i></span>
                      <span class="icon" style="color:green;" *ngIf="item.cantidad_enviada > 0 && item.cantidad_enviada == item.cantidad_recibida"><i class="fa fa-check-circle"></i></span>
                    </td>
                  </tr>   
              </tbody>              
            </table>
            <paginacion style=" width:100%; height:auto; bottom:0; left:0px; background:#FFF;"
                [total]="pedido.lista.length" 
                [paginasTotales]="pedido.paginacion.totalPaginas" 
                [resultadosPorPagina]="pedido.paginacion.resultadosPorPagina" 
                [paginaActual]="pedido.paginacion.paginaActual" 
                [indicePaginas]="pedido.paginacion.indice"
                (onSiguiente)="pedido.paginaSiguiente(); limpiarStock();" 
                (onAnterior)="pedido.paginaAnterior(); limpiarStock();" 
                (onListar)="pedido.listar($event);limpiarStock();" 
                *ngIf="pedido.lista.length > 0 && pedido.lista.length > pedido.paginacion.resultadosPorPagina && !pedido.filtro.activo"></paginacion>

            <paginacion 
                [total]="pedido.filtro.lista.length" 
                [paginasTotales]="pedido.filtro.paginacion.totalPaginas" 
                [resultadosPorPagina]="pedido.filtro.paginacion.resultadosPorPagina" 
                [paginaActual]="pedido.filtro.paginacion.paginaActual" 
                [indicePaginas]="pedido.filtro.paginacion.indice"
                (onSiguiente)="pedido.filtro.paginaSiguiente(); limpiarStock();" 
                (onAnterior)="pedido.filtro.paginaAnterior();  limpiarStock();" 
                (onListar)="pedido.filtro.listar($event); limpiarStock();" 
                *ngIf="pedido.filtro.lista.length > 0 && pedido.filtro.lista.length > pedido.filtro.paginacion.resultadosPorPagina && pedido.filtro.activo"></paginacion>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical ">
        <div class="tile is-child  notification is-white">
          <div class="contenedor-tabla">
            <table class="table" *ngIf="!cargando && itemSeleccionado != null" style="font-size: 0.8em;" >
              <thead>
                  <tr style="background: #00d1b2;">
                    <th colspan="6" style="color:#FFF !important; text-align:center;" >Movmientos</th>
                  </tr>
                  <tr>
                    <th width="1"></th>
                    <th>Movmiento</th>
                    <th>Fecha</th>
                    <th>Lote</th>
                    <th>Caducidad</th>
                    <th><abbr title="Cantidad">Cant.</abbr></th>
                  </tr>
              </thead>
              <!--tfoot>
                <tr>
                  <th colspan="3" style="text-align:right">
                    <span *ngIf="itemSeleccionado.totalStockAsignado == itemSeleccionado.cantidad"><span class="icon is-small" ><i class="fa fa-check-circle"></i></span> <span>Completo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Total </span>
                  </th>
                  <td style="text-align:center">{{ itemSeleccionado.totalStockAsignado || 0 }} / {{ itemSeleccionado.cantidad }}</td>
                </tr>
              </tfoot-->
              <tbody>
                  <tr  class="is-unselectable" *ngFor="let item of itemSeleccionado.historial_lotes" [ngClass]="{'surtido': item.estatus == 'SURTIDO','recibido': item.estatus == 'RECIBIDO','reintegrado': item.estatus == 'REINTEGRADO','eliminado': item.estatus == 'ELIMINADO'}">
                    <td>
                        <small><span class="icon"><i class="fa" [ngClass]="{'fa-inbox': item.estatus == 'SURTIDO','fa-truck': item.estatus == 'RECIBIDO','fa-archive': item.estatus == 'REINTEGRADO','fa-times-circle': item.estatus == 'ELIMINADO'}"></i></span></small> 
                    </td>
                    <td>
                      {{ item.estatus }}
                    </td>
                    <td>{{ item.fecha_movimiento}}</td>
                    <td>{{ item.lote }}</td>
                    <td>{{ item.fecha_caducidad }}</td>
                    <td style="width:78px !important;">{{ item.cantidad | number }}</td>
                  </tr>    
              </tbody>  
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notification is-danger" style="position:fixed; left:1em;  bottom:1em;" *ngIf="mensajeError.mostrar">
    <button class="delete" (click)="mensajeError.mostrar = false"></button>        
    <b>Error:</b> {{ mensajeError.texto }}<br><br>
    <p style="text-align: center;"><small >Este mensaje desaparecerá en {{ mensajeError.cuentaAtras }} segundos.</small></p>       
</div>

<div class="notification is-success" style="position:fixed; left:1em;  bottom:1em; width: auto" *ngIf="mensajeExito.mostrar">       
    <button class="delete" (click)="mensajeExito.mostrar = false"></button>
    <p><span class="icon" style="margin-right: 0.5em;"><i class="fa fa-check-circle"></i></span> <span>{{ mensajeExito.texto }}</span></p>
    <br>
    <p style="text-align: center;"><small >Este mensaje desaparecerá en {{ mensajeExito.cuentaAtras }} segundos.</small></p>       
</div>



